In [1]:
import pandas as pd

In [8]:
train_df = pd.read_csv(r'C:\Users\BIS_COM\data\dacon\2020\train.csv',encoding='cp949')
login_df = pd.read_csv(r'C:\Users\BIS_COM\data\dacon\2020\info_login.csv')
user_df = pd.read_csv(r'C:\Users\BIS_COM\data\dacon\2020\info_user.csv')
compe_df = pd.read_csv(r'C:\Users\BIS_COM\data\dacon\2020\info_competition.csv',encoding='cp949')

In [11]:
all_data = [train_df,login_df,user_df,compe_df]

In [23]:
for i in all_data :
    print('-'*50)
    i.info()

--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19008 entries, 0 to 19007
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  19008 non-null  object
 1   사용자       19008 non-null  int64
 2   세션        19008 non-null  int64
 3   신규방문자     19008 non-null  int64
 4   페이지뷰      19008 non-null  int64
dtypes: int64(4), object(1)
memory usage: 742.6+ KB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151428 entries, 0 to 151427
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  148999 non-null  float64
 1   login_id    148999 non-null  float64
 2   user_id     141585 non-null  float64
 3   c_time      148999 non-null  object
 4   platform    64654 non-null   object
 5   browser     64654 non-null   object
dtypes: float64(3), object(3)
memory usage: 6.9+ MB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22103 entries, 0 to 22102
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               21692 non-null  float64
 1   id                       21692 non-null  float64
 2   c_time                   21692 non-null  object
 3   entered_competition_cnt  21692 non-null  float64
 4   code_share_cnt           21692 non-null  float64
 5   talk_board_cnt           21692 non-null  float64
 6   country_code             21692 non-null  float64
 7   python_level             21692 non-null  float64
 8   ds_level                 21692 non-null  float64
dtypes: float64(8), object(1)
memory usage: 1.5+ MB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        48 non-null     int64
 1   cpt_id            48 non-null     int64
 2   is_official       48 non-null     int64
 3   period_start      48 non-null     object
 4   period_end        48 non-null     object
 5   name              48 non-null     object
 6   name_eng          25 non-null     object
 7   keyword           48 non-null     object
 8   keyword_eng       24 non-null     object
 9   participants      48 non-null     int64
 10  max_team_member   48 non-null     int64
 11  max_file_per_day  48 non-null     int64
 12  prize             48 non-null     int64
 13  prize_info        32 non-null     object
 14  merge_deadline    48 non-null     object
 15  winner_show       48 non-null     int64
dtypes: int64(8), object(8)
memory usage: 6.1+ KB

In [26]:
for i in all_data:
    print('-'*50)
    print(i.isnull().sum())

--------------------------------------------------
DateTime    0
사용자         0
세션          0
신규방문자       0
페이지뷰        0
dtype: int64
--------------------------------------------------
Unnamed: 0     2429
login_id       2429
user_id        9843
c_time         2429
platform      86774
browser       86774
dtype: int64
--------------------------------------------------
Unnamed: 0                 411
id                         411
c_time                     411
entered_competition_cnt    411
code_share_cnt             411
talk_board_cnt             411
country_code               411
python_level               411
ds_level                   411
dtype: int64
--------------------------------------------------
Unnamed: 0           0
cpt_id               0
is_official          0
period_start         0
period_end           0
name                 0
name_eng            23
keyword              0
keyword_eng         24
participants         0
max_team_member      0
max_file_per_day     0
prize                0
prize_info          16
merge_deadline       0
winner_show          0
dtype: int64