In [1]:
import pandas as pd
import os
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# SET WORK DERC

#### For my Mac
# os.chdir('//Users//patricklee//Desktop//파이썬//DACON//2020DACON_CUP') 

### For my Desktop
os.chdir('C://Users//BIS_COM//data//dacon//2020')

In [2]:
train_df = pd.read_csv(r'./train.csv',encoding='cp949',parse_dates=['DateTime'])
login_df = pd.read_csv(r'./info_login.csv',index_col=0,parse_dates=['c_time'])
user_df = pd.read_csv(r'./info_user.csv',index_col=0,parse_dates=['c_time'])
compe_df = pd.read_csv(r'./info_competition.csv',encoding='cp949',index_col=0)
sub_df = pd.read_csv(r'./info_submission.csv',encoding='cp949',index_col=0)

C:\Users\BIS_COM\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
all_data = [train_df,login_df,user_df,compe_df,sub_df]
just_data = [login_df,user_df,compe_df]
user_data = [user_df,login_df]

In [4]:
# login_df['c_time'] = pd.to_datetime(login_df['c_time'],format='%Y-%m-%d %H:')
# user_df['c_time'] = pd.to_datetime(user_df['c_time'],format='%Y-%m-%d %H')
# compe_df['period_start'] = pd.to_datetime(compe_df['period_start'],format='%Y-%m-%d %H')
# compe_df['period_end'] = pd.to_datetime(compe_df['period_end'],format='%Y-%m-%d %H')
# train_df['DateTime'] = pd.to_datetime(train_df['DateTime'],format='%Y-%m-%d %H')

In [5]:
user_df

,id,c_time,entered_competition_cnt,code_share_cnt,talk_board_cnt,country_code,python_level,ds_level
0.0,15994.0,2017-05-02 23:58:00,94.0,306.0,477.0,82.0,1.0,1.0
1.0,19195.0,2018-08-08 18:21:00,1.0,0.0,0.0,82.0,1.0,1.0
2.0,16339.0,2018-08-08 19:57:00,1.0,0.0,0.0,82.0,1.0,1.0
3.0,7290.0,2018-08-08 19:59:00,0.0,0.0,0.0,82.0,1.0,1.0
4.0,21287.0,2018-08-08 20:26:00,0.0,0.0,0.0,82.0,1.0,1.0
...,...,...,...,...,...,...,...,...
NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
user_df = user_df.dropna()
login_df = login_df.dropna()

In [7]:
user_df['c_time'] = user_df['c_time'].apply(lambda x : datetime.strftime(x,'%Y-%m-%d %H'))
login_df['c_time'] = login_df['c_time'].apply(lambda x : datetime.strftime(x,'%Y-%m-%d %H'))

<ipython-input-7-9e0166b1e521>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['c_time'] = user_df['c_time'].apply(lambda x : datetime.strftime(x,'%Y-%m-%d %H'))
<ipython-input-7-9e0166b1e521>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  login_df['c_time'] = login_df['c_time'].apply(lambda x : datetime.strftime(x,'%Y-%m-%d %H'))

In [8]:
user_df['c_time'] = pd.to_datetime(user_df['c_time'])
login_df['c_time'] = pd.to_datetime(login_df['c_time'])

<ipython-input-8-d383d69fa106>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['c_time'] = pd.to_datetime(user_df['c_time'])
<ipython-input-8-d383d69fa106>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  login_df['c_time'] = pd.to_datetime(login_df['c_time'])

In [9]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 21692 entries, 0.0 to 21691.0
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       21692 non-null  float64
 1   c_time                   21692 non-null  datetime64[ns]
 2   entered_competition_cnt  21692 non-null  float64
 3   code_share_cnt           21692 non-null  float64
 4   talk_board_cnt           21692 non-null  float64
 5   country_code             21692 non-null  float64
 6   python_level             21692 non-null  float64
 7   ds_level                 21692 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 1.5 MB

In [10]:
login_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 60397 entries, 0.0 to 64653.0
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   login_id  60397 non-null  float64
 1   user_id   60397 non-null  float64
 2   c_time    60397 non-null  datetime64[ns]
 3   platform  60397 non-null  object
 4   browser   60397 non-null  object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 2.8+ MB

# User Data Reshape

In [11]:
user_df.sort_values(by='c_time',axis=0)
user_df

,id,c_time,entered_competition_cnt,code_share_cnt,talk_board_cnt,country_code,python_level,ds_level
0.0,15994.0,2017-05-02 23:00:00,94.0,306.0,477.0,82.0,1.0,1.0
1.0,19195.0,2018-08-08 18:00:00,1.0,0.0,0.0,82.0,1.0,1.0
2.0,16339.0,2018-08-08 19:00:00,1.0,0.0,0.0,82.0,1.0,1.0
3.0,7290.0,2018-08-08 19:00:00,0.0,0.0,0.0,82.0,1.0,1.0
4.0,21287.0,2018-08-08 20:00:00,0.0,0.0,0.0,82.0,1.0,1.0
...,...,...,...,...,...,...,...,...
21687.0,11584.0,2020-12-08 22:00:00,1.0,0.0,0.0,82.0,1.0,1.0
21688.0,6337.0,2020-12-08 22:00:00,1.0,0.0,0.0,82.0,1.0,1.0
21689.0,2505.0,2020-12-08 23:00:00,1.0,0.0,0.0,82.0,1.0,1.0
21690.0,14182.0,2020-12-08 23:00:00,1.0,0.0,0.0,82.0,1.0,1.0
21691.0,8843.0,2020-12-08 23:00:00,2.0,0.0,0.0,82.0,1.0,1.0

In [12]:
user_df.isnull().sum()

id                         0
c_time                     0
entered_competition_cnt    0
code_share_cnt             0
talk_board_cnt             0
country_code               0
python_level               0
ds_level                   0
dtype: int64

In [13]:
user_df.shape

(21692, 8)

# Login Data reshape

In [14]:
login_df.isnull().sum()

login_id    0
user_id     0
c_time      0
platform    0
browser     0
dtype: int64

In [15]:
login_df.sort_values('c_time')

,login_id,user_id,c_time,platform,browser
0.0,14196.0,19195.0,2018-09-23 01:00:00,Windows 8,Internet Explorer 10.0
1.0,14234.0,22045.0,2018-09-23 02:00:00,Windows,Chrome 67.0.3396.99
2.0,14256.0,8790.0,2018-09-23 03:00:00,Windows,Chrome 69.0.3497.100
5.0,14280.0,10206.0,2018-09-23 13:00:00,Windows,Chrome 68.0.3440.106
6.0,14288.0,488.0,2018-09-23 14:00:00,Windows 7,Chrome 68.0.3440.106
...,...,...,...,...,...
64648.0,328193.0,12349.0,2019-12-30 23:00:00,Windows,Chrome 79.0.3945.88
64649.0,328208.0,16088.0,2019-12-30 23:00:00,Windows,Firefox 71.0
64650.0,328209.0,14107.0,2019-12-30 23:00:00,Windows,Chrome 79.0.3945.88
64651.0,328210.0,1283.0,2019-12-30 23:00:00,Windows,Chrome 79.0.3945.88
64653.0,328219.0,21531.0,2019-12-30 23:00:00,Apple,Chrome 78.0.3904.108

# New Data Tabel

In [16]:
user_df.columns

Index(['id', 'c_time', 'entered_competition_cnt', 'code_share_cnt',
       'talk_board_cnt', 'country_code', 'python_level', 'ds_level'],
      dtype='object')

In [17]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 21692 entries, 0.0 to 21691.0
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       21692 non-null  float64
 1   c_time                   21692 non-null  datetime64[ns]
 2   entered_competition_cnt  21692 non-null  float64
 3   code_share_cnt           21692 non-null  float64
 4   talk_board_cnt           21692 non-null  float64
 5   country_code             21692 non-null  float64
 6   python_level             21692 non-null  float64
 7   ds_level                 21692 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 1.5 MB

In [18]:
pv_user_df1 = pd.pivot_table(user_df, index='c_time',values=['id'],aggfunc='count')

In [19]:
pv_user_df1

                     id
c_time
2017-05-02 23:00:00   1
2018-08-08 18:00:00   1
2018-08-08 19:00:00   2
2018-08-08 20:00:00   2
2018-08-08 21:00:00   1
...                  ..
2020-12-08 19:00:00   4
2020-12-08 20:00:00   3
2020-12-08 21:00:00   2
2020-12-08 22:00:00   9
2020-12-08 23:00:00   3

[8612 rows x 1 columns]

In [20]:
pv_user_df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8612 entries, 2017-05-02 23:00:00 to 2020-12-08 23:00:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8612 non-null   int64
dtypes: int64(1)
memory usage: 134.6 KB

In [21]:
pv_user_df2 = pd.pivot_table(user_df, index='c_time',values=['ds_level'],aggfunc='mean')

In [22]:
pv_user_df2

                     ds_level
c_time
2017-05-02 23:00:00       1.0
2018-08-08 18:00:00       1.0
2018-08-08 19:00:00       1.0
2018-08-08 20:00:00       1.0
2018-08-08 21:00:00       1.0
...                       ...
2020-12-08 19:00:00       1.0
2020-12-08 20:00:00       1.0
2020-12-08 21:00:00       1.0
2020-12-08 22:00:00       1.0
2020-12-08 23:00:00       1.0

[8612 rows x 1 columns]

In [23]:
pv_user_df3 = pd.pivot_table(user_df, index='c_time',values=['country_code'],aggfunc='nunique')

In [24]:
pv_user_df3

                     c_time  country_code
c_time
2017-05-02 23:00:00       1             1
2018-08-08 18:00:00       1             1
2018-08-08 19:00:00       1             1
2018-08-08 20:00:00       1             1
2018-08-08 21:00:00       1             1
...                     ...           ...
2020-12-08 19:00:00       1             1
2020-12-08 20:00:00       1             1
2020-12-08 21:00:00       1             1
2020-12-08 22:00:00       1             1
2020-12-08 23:00:00       1             1

[8612 rows x 2 columns]

In [25]:
pv_user_df3 = pv_user_df3.drop(axis=1,columns='c_time')

In [26]:
new_user_df = pd.merge(pv_user_df1, pv_user_df2, how='outer',on='c_time')

In [27]:
new_user_df

                     id  ds_level
c_time
2017-05-02 23:00:00   1       1.0
2018-08-08 18:00:00   1       1.0
2018-08-08 19:00:00   2       1.0
2018-08-08 20:00:00   2       1.0
2018-08-08 21:00:00   1       1.0
...                  ..       ...
2020-12-08 19:00:00   4       1.0
2020-12-08 20:00:00   3       1.0
2020-12-08 21:00:00   2       1.0
2020-12-08 22:00:00   9       1.0
2020-12-08 23:00:00   3       1.0

[8612 rows x 2 columns]

In [28]:
new_user_df = pd.merge(new_user_df, pv_user_df3, how='outer',on='c_time')

In [29]:
new_user_df

                     id  ds_level  country_code
c_time
2017-05-02 23:00:00   1       1.0             1
2018-08-08 18:00:00   1       1.0             1
2018-08-08 19:00:00   2       1.0             1
2018-08-08 20:00:00   2       1.0             1
2018-08-08 21:00:00   1       1.0             1
...                  ..       ...           ...
2020-12-08 19:00:00   4       1.0             1
2020-12-08 20:00:00   3       1.0             1
2020-12-08 21:00:00   2       1.0             1
2020-12-08 22:00:00   9       1.0             1
2020-12-08 23:00:00   3       1.0             1

[8612 rows x 3 columns]

### login data new values

In [30]:
pv_user_df1 = pd.pivot_table(login_df, index='c_time',values=['user_id'],aggfunc='count')

In [31]:
pv_user_df1

                     user_id
c_time
2018-09-23 01:00:00        1
2018-09-23 02:00:00        1
2018-09-23 03:00:00        1
2018-09-23 13:00:00        1
2018-09-23 14:00:00        5
...                      ...
2019-12-30 19:00:00       13
2019-12-30 20:00:00       18
2019-12-30 21:00:00       12
2019-12-30 22:00:00       15
2019-12-30 23:00:00        7

[8866 rows x 1 columns]

In [32]:
pv_user_df2 = pd.pivot_table(login_df, index='c_time',values=['platform','browser','user_id'],aggfunc='nunique')
pv_user_df2

                     browser  c_time  platform  user_id
c_time
2018-09-23 01:00:00        1       1         1        1
2018-09-23 02:00:00        1       1         1        1
2018-09-23 03:00:00        1       1         1        1
2018-09-23 13:00:00        1       1         1        1
2018-09-23 14:00:00        4       1         4        4
...                      ...     ...       ...      ...
2019-12-30 19:00:00        6       1         3       13
2019-12-30 20:00:00        2       1         5       16
2019-12-30 21:00:00        4       1         2       11
2019-12-30 22:00:00        5       1         3       14
2019-12-30 23:00:00        4       1         2        7

[8866 rows x 4 columns]

In [33]:
pv_user_df2 = pv_user_df2.drop(axis=1, columns='c_time')

In [34]:
new_login_df = pd.merge(pv_user_df1, pv_user_df2, how='outer',on='c_time')
new_login_df.tail()

                     user_id_x  browser  platform  user_id_y
c_time
2019-12-30 19:00:00         13        6         3         13
2019-12-30 20:00:00         18        2         5         16
2019-12-30 21:00:00         12        4         2         11
2019-12-30 22:00:00         15        5         3         14
2019-12-30 23:00:00          7        4         2          7

In [35]:
new_login_df=new_login_df.rename({'user_id_x':'Total visit', 'user_id_y':'Total User'},axis='columns')

In [36]:
new_login_df

                     Total visit  browser  platform  Total User
c_time
2018-09-23 01:00:00            1        1         1           1
2018-09-23 02:00:00            1        1         1           1
2018-09-23 03:00:00            1        1         1           1
2018-09-23 13:00:00            1        1         1           1
2018-09-23 14:00:00            5        4         4           4
...                          ...      ...       ...         ...
2019-12-30 19:00:00           13        6         3          13
2019-12-30 20:00:00           18        2         5          16
2019-12-30 21:00:00           12        4         2          11
2019-12-30 22:00:00           15        5         3          14
2019-12-30 23:00:00            7        4         2           7

[8866 rows x 4 columns]

In [37]:
new_login_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8866 entries, 2018-09-23 01:00:00 to 2019-12-30 23:00:00
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Total visit  8866 non-null   int64
 1   browser      8866 non-null   int64
 2   platform     8866 non-null   int64
 3   Total User   8866 non-null   int64
dtypes: int64(4)
memory usage: 346.3 KB

In [38]:
new_user_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8612 entries, 2017-05-02 23:00:00 to 2020-12-08 23:00:00
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8612 non-null   int64
 1   ds_level      8612 non-null   float64
 2   country_code  8612 non-null   int64
dtypes: float64(1), int64(2)
memory usage: 269.1 KB

In [39]:
new_value_df = pd.merge(new_user_df, new_login_df, how='outer',on='c_time')

In [40]:
new_value_df

,id,ds_level,country_code,Total visit,browser,platform,Total User
c_time,,,,,,,
2017-05-02 23:00:00,1.0,1.0,1.0,NaN,NaN,NaN,NaN
2018-08-08 18:00:00,1.0,1.0,1.0,NaN,NaN,NaN,NaN
2018-08-08 19:00:00,2.0,1.0,1.0,NaN,NaN,NaN,NaN
2018-08-08 20:00:00,2.0,1.0,1.0,NaN,NaN,NaN,NaN
2018-08-08 21:00:00,1.0,1.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2019-12-30 07:00:00,NaN,NaN,NaN,1.0,1.0,1.0,1.0
2019-12-30 08:00:00,NaN,NaN,NaN,7.0,3.0,3.0,6.0
2019-12-30 12:00:00,NaN,NaN,NaN,16.0,5.0,4.0,16.0
2019-12-30 15:00:00,NaN,NaN,NaN,36.0,7.0,5.0,34.0
2019-12-30 20:00:00,NaN,NaN,NaN,18.0,2.0,5.0,16.0

# Missing Value

In [41]:
new_value_df.isnull().sum()

id              5625
ds_level        5625
country_code    5625
Total visit     5371
browser         5371
platform        5371
Total User      5371
dtype: int64

In [42]:
new_value_df = new_value_df.fillna(-99)

In [43]:
new_value_df

,id,ds_level,country_code,Total visit,browser,platform,Total User
c_time,,,,,,,
2017-05-02 23:00:00,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0
2018-08-08 18:00:00,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0
2018-08-08 19:00:00,2.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0
2018-08-08 20:00:00,2.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0
2018-08-08 21:00:00,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0
...,...,...,...,...,...,...,...
2019-12-30 07:00:00,-99.0,-99.0,-99.0,1.0,1.0,1.0,1.0
2019-12-30 08:00:00,-99.0,-99.0,-99.0,7.0,3.0,3.0,6.0
2019-12-30 12:00:00,-99.0,-99.0,-99.0,16.0,5.0,4.0,16.0
2019-12-30 15:00:00,-99.0,-99.0,-99.0,36.0,7.0,5.0,34.0
2019-12-30 20:00:00,-99.0,-99.0,-99.0,18.0,2.0,5.0,16.0

In [44]:
train_df=train_df.rename({'DateTime':'c_time'},axis='columns')

In [45]:
train_df

                   c_time  사용자   세션  신규방문자  페이지뷰
0     2018-09-09 00:00:00   19   19      8   206
1     2018-09-09 01:00:00   20   19      9   259
2     2018-09-09 02:00:00   12    9      1    48
3     2018-09-09 03:00:00   10   10      2   102
4     2018-09-09 04:00:00    6    5      3    18
...                   ...  ...  ...    ...   ...
19003 2020-11-08 19:00:00  124  123     19  3128
19004 2020-11-08 20:00:00  166  159     29  4864
19005 2020-11-08 21:00:00  184  173     32  3426
19006 2020-11-08 22:00:00  163  155     34  2845
19007 2020-11-08 23:00:00  160  152     33  3293

[19008 rows x 5 columns]

In [46]:
train = pd.merge(new_value_df, train_df,how="outer",on="c_time")

In [47]:
# train = train.fillna(0)

In [48]:
train

,c_time,id,ds_level,country_code,Total visit,browser,platform,Total User,사용자,세션,신규방문자,페이지뷰
0,2017-05-02 23:00:00,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,NaN,NaN,NaN,NaN
1,2018-08-08 18:00:00,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,NaN,NaN,NaN,NaN
2,2018-08-08 19:00:00,2.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,NaN,NaN,NaN,NaN
3,2018-08-08 20:00:00,2.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,NaN,NaN,NaN,NaN
4,2018-08-08 21:00:00,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
19781,2020-11-08 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,16.0,7.0,170.0
19782,2020-11-08 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,15.0,3.0,157.0
19783,2020-11-08 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,46.0,11.0,640.0
19784,2020-11-08 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.0,129.0,28.0,1843.0
19785,2020-11-08 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,131.0,29.0,2746.0

In [49]:
train_df = train.dropna()
train_df.shape

(13459, 12)

In [57]:
train_df

,c_time,id,ds_level,country_code,Total visit,browser,platform,Total User,사용자,세션,신규방문자,페이지뷰
266,2018-09-09 01:00:00,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,20.0,19.0,9.0,259.0
267,2018-09-09 03:00:00,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,10.0,10.0,2.0,102.0
268,2018-09-09 13:00:00,3.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,20.0,16.0,7.0,131.0
269,2018-09-09 18:00:00,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,13.0,12.0,2.0,47.0
270,2018-09-09 21:00:00,2.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,17.0,17.0,7.0,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...
14232,2019-12-30 07:00:00,-99.0,-99.0,-99.0,1.0,1.0,1.0,1.0,12.0,14.0,3.0,72.0
14233,2019-12-30 08:00:00,-99.0,-99.0,-99.0,7.0,3.0,3.0,6.0,29.0,29.0,5.0,274.0
14234,2019-12-30 12:00:00,-99.0,-99.0,-99.0,16.0,5.0,4.0,16.0,58.0,59.0,18.0,624.0
14235,2019-12-30 15:00:00,-99.0,-99.0,-99.0,36.0,7.0,5.0,34.0,100.0,100.0,28.0,1196.0
14236,2019-12-30 20:00:00,-99.0,-99.0,-99.0,18.0,2.0,5.0,16.0,49.0,53.0,16.0,658.0

In [58]:
# train=train.sort_values(by='c_time') # 19040
train.iloc[19039:]

,c_time,id,ds_level,country_code,Total visit,browser,platform,Total User,사용자,세션,신규방문자,페이지뷰
19039,2020-08-16 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,7.0,0.0,193.0
19040,2020-08-16 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,15.0,5.0,262.0
19041,2020-08-16 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,8.0,2.0,66.0
19042,2020-08-16 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,12.0,6.0,190.0
19043,2020-08-16 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,17.0,9.0,278.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19781,2020-11-08 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,16.0,7.0,170.0
19782,2020-11-08 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,15.0,3.0,157.0
19783,2020-11-08 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,46.0,11.0,640.0
19784,2020-11-08 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.0,129.0,28.0,1843.0
19785,2020-11-08 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146.0,131.0,29.0,2746.0

In [64]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19786 entries, 0 to 19785
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   c_time        19786 non-null  datetime64[ns]
 1   id            14237 non-null  float64
 2   ds_level      14237 non-null  float64
 3   country_code  14237 non-null  float64
 4   Total visit   14237 non-null  float64
 5   browser       14237 non-null  float64
 6   platform      14237 non-null  float64
 7   Total User    14237 non-null  float64
 8   사용자           19008 non-null  float64
 9   세션            19008 non-null  float64
 10  신규방문자         19008 non-null  float64
 11  페이지뷰          19008 non-null  float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 2.6 MB

# Simple DNN

In [51]:
import tensorflow as tf
from keras import layers, models

rate = 0.2
rate_size = int(len(train_df) * rate)

X = train.loc[:,'id':'Total User']
y = train.loc[:,'사용자':'페이지뷰']

In [52]:
def build_model(): 
    model = models.Sequential()
    model.add(layers.Dense(128, activation='relu',
                           input_shape=(7,)))
    model.add(layers.Dense(128, activation='relu'))
    model.add(layers.Dense(4))
    model.compile(optimizer='adam', loss='mse', metrics=['mae'])
    return model

In [89]:
from dateutil.relativedelta import *


class TimeBasedCV(object):
    '''
    Parameters 
    ----------
    train_period: int
        number of time units to include in each train set
        default is 30
    test_period: int
        number of time units to include in each test set
        default is 7
    freq: string
        frequency of input parameters. possible values are: days, months, years, weeks, hours, minutes, seconds
        possible values designed to be used by dateutil.relativedelta class
        deafault is days
    '''
    
    
    def __init__(self, train_period=30, test_period=7, freq='days'):
        self.train_period = train_period
        self.test_period = test_period
        self.freq = freq

        
        
    def split(self, data, validation_split_date=None, date_column='c_time', gap=0):
        '''
        Generate indices to split data into training and test set
        
        Parameters 
        ----------
        data: pandas DataFrame
            your data, contain one column for the record date 
        validation_split_date: datetime.date()
            first date to perform the splitting on.
            if not provided will set to be the minimum date in the data after the first training set
        date_column: string, deafult='record_date'
            date of each record
        gap: int, default=0
            for cases the test set does not come right after the train set,
            *gap* days are left between train and test sets
        
        Returns 
        -------
        train_index ,test_index: 
            list of tuples (train index, test index) similar to sklearn model selection
        '''
        
        # check that date_column exist in the data:
        try:
            data[date_column]
        except:
            raise KeyError(date_column)
                    
        train_indices_list = []
        test_indices_list = []

        if validation_split_date==None:
            validation_split_date = data[date_column].min().date() + eval('relativedelta('+self.freq+'=self.train_period)')
        
        start_train = validation_split_date - eval('relativedelta('+self.freq+'=self.train_period)')
        end_train = start_train + eval('relativedelta('+self.freq+'=self.train_period)')
        start_test = end_train + eval('relativedelta('+self.freq+'=gap)')
        end_test = start_test + eval('relativedelta('+self.freq+'=self.test_period)')

        while end_test < data[date_column].max():
            # train indices:
            cur_train_indices = list(data[(data[date_column]>=start_train) & 
                                     (data[date_column]<end_train)].index)

            # test indices:
            cur_test_indices = list(data[(data[date_column]>=start_test) &
                                    (data[date_column]<end_test)].index)
            
            print("Train period:",start_train,"-" , end_train, ", Test period", start_test, "-", end_test,
                  "# train records", len(cur_train_indices), ", # test records", len(cur_test_indices))

            train_indices_list.append(cur_train_indices)
            test_indices_list.append(cur_test_indices)

            # update dates:
            start_train = start_train + eval('relativedelta('+self.freq+'=self.test_period)')
            end_train = start_train + eval('relativedelta('+self.freq+'=self.train_period)')
            start_test = end_train + eval('relativedelta('+self.freq+'=gap)')
            end_test = start_test + eval('relativedelta('+self.freq+'=self.test_period)')

        # mimic sklearn output  
        index_output = [(train,test) for train,test in zip(train_indices_list,test_indices_list)]

        self.n_splits = len(index_output)
        
        return index_output
    
    
    def get_n_splits(self):
        """Returns the number of splitting iterations in the cross-validator
        Returns
        -------
        n_splits : int
            Returns the number of splitting iterations in the cross-validator.
        """
        return self.n_splits

In [90]:
tscv = TimeBasedCV(train_period=30,
                   test_period=7,
                   freq='days')
for train_index, test_index in tscv.split(train,
                   validation_split_date=datetime(2020,8,16), date_column='c_time'):
    print(train_index, test_index)

Train period: 2020-07-17 00:00:00 - 2020-08-16 00:00:00 , Test period 2020-08-16 00:00:00 - 2020-08-23 00:00:00 # train records 720 , # test records 168
Train period: 2020-07-24 00:00:00 - 2020-08-23 00:00:00 , Test period 2020-08-23 00:00:00 - 2020-08-30 00:00:00 # train records 720 , # test records 168
Train period: 2020-07-31 00:00:00 - 2020-08-30 00:00:00 , Test period 2020-08-30 00:00:00 - 2020-09-06 00:00:00 # train records 720 , # test records 168
Train period: 2020-08-07 00:00:00 - 2020-09-06 00:00:00 , Test period 2020-09-06 00:00:00 - 2020-09-13 00:00:00 # train records 720 , # test records 168
Train period: 2020-08-14 00:00:00 - 2020-09-13 00:00:00 , Test period 2020-09-13 00:00:00 - 2020-09-20 00:00:00 # train records 720 , # test records 168
Train period: 2020-08-21 00:00:00 - 2020-09-20 00:00:00 , Test period 2020-09-20 00:00:00 - 2020-09-27 00:00:00 # train records 720 , # test records 168
Train period: 2020-08-28 00:00:00 - 2020-09-27 00:00:00 , Test period 2020-09-27 00:00:00 - 2020-10-04 00:00:00 # train records 720 , # test records 168
Train period: 2020-09-04 00:00:00 - 2020-10-04 00:00:00 , Test period 2020-10-04 00:00:00 - 2020-10-11 00:00:00 # train records 720 , # test records 168
Train period: 2020-09-11 00:00:00 - 2020-10-11 00:00:00 , Test period 2020-10-11 00:00:00 - 2020-10-18 00:00:00 # train records 720 , # test records 168
Train period: 2020-09-18 00:00:00 - 2020-10-18 00:00:00 , Test period 2020-10-18 00:00:00 - 2020-10-25 00:00:00 # train records 720 , # test records 168
Train period: 2020-09-25 00:00:00 - 2020-10-25 00:00:00 , Test period 2020-10-25 00:00:00 - 2020-11-01 00:00:00 # train records 720 , # test records 168
Train period: 2020-10-02 00:00:00 - 2020-11-01 00:00:00 , Test period 2020-11-01 00:00:00 - 2020-11-08 00:00:00 # train records 720 , # test records 168
Train period: 2020-10-09 00:00:00 - 2020-11-08 00:00:00 , Test period 2020-11-08 00:00:00 - 2020-11-15 00:00:00 # train records 720 , # test records 130
Train period: 2020-10-16 00:00:00 - 2020-11-15 00:00:00 , Test period 2020-11-15 00:00:00 - 2020-11-22 00:00:00 # train records 682 , # test records 119
Train period: 2020-10-23 00:00:00 - 2020-11-22 00:00:00 , Test period 2020-11-22 00:00:00 - 2020-11-29 00:00:00 # train records 633 , # test records 118
Train period: 2020-10-30 00:00:00 - 2020-11-29 00:00:00 , Test period 2020-11-29 00:00:00 - 2020-12-06 00:00:00 # train records 583 , # test records 116
[6298, 6299, 6300, 6301, 6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 6310, 6311, 6312, 6313, 6314, 6315, 6316, 6317, 6318, 6319, 6320, 6321, 6322, 6323, 6324, 6325, 6326, 6327, 6328, 6329, 6330, 6331, 6332, 6333, 6334, 6335, 6336, 6337, 6338, 6339, 6340, 6341, 6342, 6343, 6344, 6345, 6346, 6347, 6348, 6349, 6350, 6351, 6352, 6353, 6354, 6355, 6356, 6357, 6358, 6359, 6360, 6361, 6362, 6363, 6364, 6365, 6366, 6367, 6368, 6369, 6370, 6371, 6372, 6373, 6374, 6375, 6376, 6377, 6378, 6379, 6380, 6381, 6382, 6383, 6384, 6385, 6386, 6387, 6388, 6389, 6390, 6391, 6392, 6393, 6394, 6395, 6396, 6397, 6398, 6399, 6400, 6401, 6402, 6403, 6404, 6405, 6406, 6407, 6408, 6409, 6410, 6411, 6412, 6413, 6414, 6415, 6416, 6417, 6418, 6419, 6420, 6421, 6422, 6423, 6424, 6425, 6426, 6427, 6428, 6429, 6430, 6431, 6432, 6433, 6434, 6435, 6436, 6437, 6438, 6439, 6440, 6441, 6442, 6443, 6444, 6445, 6446, 6447, 6448, 6449, 6450, 6451, 6452, 6453, 6454, 6455, 6456, 6457, 6458, 6459, 6460, 6461, 6462, 6463, 6464, 6465, 6466, 6467, 6468, 6469, 6470, 6471, 6472, 6473, 6474, 6475, 6476, 6477, 6478, 6479, 6480, 6481, 6482, 6483, 6484, 6485, 6486, 6487, 6488, 6489, 6490, 6491, 6492, 6493, 6494, 6495, 6496, 6497, 6498, 6499, 6500, 6501, 6502, 6503, 6504, 6505, 6506, 6507, 6508, 6509, 6510, 6511, 6512, 6513, 6514, 6515, 6516, 6517, 6518, 6519, 6520, 6521, 6522, 6523, 6524, 6525, 6526, 6527, 6528, 6529, 6530, 6531, 6532, 6533, 6534, 6535, 6536, 6537, 6538, 6539, 6540, 6541, 6542, 6543, 6544, 6545, 6546, 6547, 6548, 6549, 6550, 6551, 6552, 6553, 6554, 6555, 6556, 6557, 6558, 6559, 6560, 6561, 6562, 6563, 6564, 6565, 6566, 6567, 6568, 6569, 6570, 6571, 6572, 6573, 6574, 6575, 6576, 6577, 6578, 6579, 6580, 6581, 6582, 6583, 6584, 6585, 6586, 6587, 6588, 6589, 6590, 6591, 6592, 6593, 6594, 6595, 6596, 6597, 6598, 6599, 6600, 6601, 6602, 6603, 6604, 6605, 6606, 6607, 6608, 6609, 6610, 6611, 6612, 6613, 6614, 6615, 6616, 6617, 6618, 6619, 6620, 6621, 6622, 6623, 6624, 6625, 6626, 6627, 6628, 6629, 6630, 6631, 6632, 6633, 6634, 6635, 6636, 6637, 6638, 6639, 6640, 6641, 6642, 6643, 6644, 6645, 6646, 6647, 6648, 6649, 6650, 6651, 6652, 6653, 6654, 6655, 6656, 6657, 6658, 6659, 6660, 6661, 6662, 6663, 6664, 6665, 6666, 6667, 6668, 6669, 6670, 6671, 6672, 6673, 6674, 6675, 6676, 6677, 6678, 6679, 6680, 6681, 6682, 6683, 6684, 6685, 6686, 6687, 6688, 6689, 6690, 6691, 6692, 6693, 6694, 6695, 6696, 6697, 6698, 6699, 6700, 6701, 6702, 6703, 6704, 6705, 6706, 6707, 6708, 6709, 6710, 6711, 6712, 6713, 6714, 6715, 6716, 6717, 6718, 6719, 6720, 6721, 6722, 6723, 6724, 6725, 6726, 6727, 6728, 6729, 6730, 6731, 6732, 6733, 6734, 6735, 6736, 6737, 6738, 6739, 6740, 6741, 6742, 6743, 6744, 6745, 6746, 6747, 6748, 6749, 6750, 6751, 6752, 6753, 6754, 6755, 6756, 6757, 6758, 6759, 6760, 6761, 6762, 6763, 6764, 6765, 6766, 6767, 6768, 6769, 6770, 6771, 6772, 6773, 6774, 6775, 6776, 6777, 6778, 6779, 6780, 6781, 6782, 6783, 6784, 6785, 6786, 6787, 6788, 6789, 6790, 6791, 6792, 6793, 6794, 6795, 6796, 6797, 6798, 6799, 6800, 6801, 6802, 6803, 6804, 6805, 6806, 6807, 6808, 18828, 18829, 18830, 18831, 18832, 18833, 18834, 18835, 18836, 18837, 18838, 18839, 18840, 18841, 18842, 18843, 18844, 18845, 18846, 18847, 18848, 18849, 18850, 18851, 18852, 18853, 18854, 18855, 18856, 18857, 18858, 18859, 18860, 18861, 18862, 18863, 18864, 18865, 18866, 18867, 18868, 18869, 18870, 18871, 18872, 18873, 18874, 18875, 18876, 18877, 18878, 18879, 18880, 18881, 18882, 18883, 18884, 18885, 18886, 18887, 18888, 18889, 18890, 18891, 18892, 18893, 18894, 18895, 18896, 18897, 18898, 18899, 18900, 18901, 18902, 18903, 18904, 18905, 18906, 18907, 18908, 18909, 18910, 18911, 18912, 18913, 18914, 18915, 18916, 18917, 18918, 18919, 18920, 18921, 18922, 18923, 18924, 18925, 18926, 18927, 18928, 18929, 18930, 18931, 18932, 18933, 18934, 18935, 18936, 18937, 18938, 18939, 18940, 18941, 18942, 18943, 18944, 18945, 18946, 18947, 18948, 18949, 18950, 18951, 18952, 18953, 18954, 18955, 18956, 18957, 18958, 18959, 18960, 18961, 18962, 18963, 18964, 18965, 18966, 18967, 18968, 18969, 18970, 18971, 18972, 18973, 18974, 18975, 18976, 18977, 18978, 18979, 18980, 18981, 18982, 18983, 18984, 18985, 18986, 18987, 18988, 18989, 18990, 18991, 18992, 18993, 18994, 18995, 18996, 18997, 18998, 18999, 19000, 19001, 19002, 19003, 19004, 19005, 19006, 19007, 19008, 19009, 19010, 19011, 19012, 19013, 19014, 19015, 19016, 19017, 19018, 19019, 19020, 19021, 19022, 19023, 19024, 19025, 19026, 19027, 19028, 19029, 19030, 19031, 19032, 19033, 19034, 19035, 19036] [6809, 6810, 6811, 6812, 6813, 6814, 6815, 6816, 6817, 6818, 6819, 6820, 6821, 6822, 6823, 6824, 6825, 6826, 6827, 6828, 6829, 6830, 6831, 6832, 6833, 6834, 6835, 6836, 6837, 6838, 6839, 6840, 6841, 6842, 6843, 6844, 6845, 6846, 6847, 6848, 6849, 6850, 6851, 6852, 6853, 6854, 6855, 6856, 6857, 6858, 6859, 6860, 6861, 6862, 6863, 6864, 6865, 6866, 6867, 6868, 6869, 6870, 6871, 6872, 6873, 6874, 6875, 6876, 6877, 6878, 6879, 6880, 6881, 6882, 6883, 6884, 6885, 6886, 6887, 6888, 6889, 6890, 6891, 6892, 6893, 6894, 6895, 6896, 6897, 6898, 6899, 6900, 6901, 6902, 6903, 6904, 6905, 6906, 6907, 6908, 6909, 6910, 6911, 6912, 6913, 6914, 6915, 6916, 6917, 6918, 6919, 6920, 6921, 19037, 19038, 19039, 19040, 19041, 19042, 19043, 19044, 19045, 19046, 19047, 19048, 19049, 19050, 19051, 19052, 19053, 19054, 19055, 19056, 19057, 19058, 19059, 19060, 19061, 19062, 19063, 19064, 19065, 19066, 19067, 19068, 19069, 19070, 19071, 19072, 19073, 19074, 19075, 19076, 19077, 19078, 19079, 19080, 19081, 19082, 19083, 19084, 19085, 19086, 19087, 19088, 19089, 19090, 19091]
[6413, 6414, 6415, 6416, 6417, 6418, 6419, 6420, 6421, 6422, 6423, 6424, 6425, 6426, 6427, 6428, 6429, 6430, 6431, 6432, 6433, 6434, 6435, 6436, 6437, 6438, 6439, 6440, 6441, 6442, 6443, 6444, 6445, 6446, 6447, 6448, 6449, 6450, 6451, 6452, 6453, 6454, 6455, 6456, 6457, 6458, 6459, 6460, 6461, 6462, 6463, 6464, 6465, 6466, 6467, 6468, 6469, 6470, 6471, 6472, 6473, 6474, 6475, 6476, 6477, 6478, 6479, 6480, 6481, 6482, 6483, 6484, 6485, 6486, 6487, 6488, 6489, 6490, 6491, 6492, 6493, 6494, 6495, 6496, 6497, 6498, 6499, 6500, 6501, 6502, 6503, 6504, 6505, 6506, 6507, 6508, 6509, 6510, 6511, 6512, 6513, 6514, 6515, 6516, 6517, 6518, 6519, 6520, 6521, 6522, 6523, 6524, 6525, 6526, 6527, 6528, 6529, 6530, 6531, 6532, 6533, 6534, 6535, 6536, 6537, 6538, 6539, 6540, 6541, 6542, 6543, 6544, 6545, 6546, 6547, 6548, 6549, 6550, 6551, 6552, 6553, 6554, 6555, 6556, 6557, 6558, 6559, 6560, 6561, 6562, 6563, 6564, 6565, 6566, 6567, 6568, 6569, 6570, 6571, 6572, 6573, 6574, 6575, 6576, 6577, 6578, 6579, 6580, 6581, 6582, 6583, 6584, 6585, 6586, 6587, 6588, 6589, 6590, 6591, 6592, 6593, 6594, 6595, 6596, 6597, 6598, 6599, 6600, 6601, 6602, 6603, 6604, 6605, 6606, 6607, 6608, 6609, 6610, 6611, 6612, 6613, 6614, 6615, 6616, 6617, 6618, 6619, 6620, 6621, 6622, 6623, 6624, 6625, 6626, 6627, 6628, 6629, 6630, 6631, 6632, 6633, 6634, 6635, 6636, 6637, 6638, 6639, 6640, 6641, 6642, 6643, 6644, 6645, 6646, 6647, 6648, 6649, 6650, 6651, 6652, 6653, 6654, 6655, 6656, 6657, 6658, 6659, 6660, 6661, 6662, 6663, 6664, 6665, 6666, 6667, 6668, 6669, 6670, 6671, 6672, 6673, 6674, 6675, 6676, 6677, 6678, 6679, 6680, 6681, 6682, 6683, 6684, 6685, 6686, 6687, 6688, 6689, 6690, 6691, 6692, 6693, 6694, 6695, 6696, 6697, 6698, 6699, 6700, 6701, 6702, 6703, 6704, 6705, 6706, 6707, 6708, 6709, 6710, 6711, 6712, 6713, 6714, 6715, 6716, 6717, 6718, 6719, 6720, 6721, 6722, 6723, 6724, 6725, 6726, 6727, 6728, 6729, 6730, 6731, 6732, 6733, 6734, 6735, 6736, 6737, 6738, 6739, 6740, 6741, 6742, 6743, 6744, 6745, 6746, 6747, 6748, 6749, 6750, 6751, 6752, 6753, 6754, 6755, 6756, 6757, 6758, 6759, 6760, 6761, 6762, 6763, 6764, 6765, 6766, 6767, 6768, 6769, 6770, 6771, 6772, 6773, 6774, 6775, 6776, 6777, 6778, 6779, 6780, 6781, 6782, 6783, 6784, 6785, 6786, 6787, 6788, 6789, 6790, 6791, 6792, 6793, 6794, 6795, 6796, 6797, 6798, 6799, 6800, 6801, 6802, 6803, 6804, 6805, 6806, 6807, 6808, 6809, 6810, 6811, 6812, 6813, 6814, 6815, 6816, 6817, 6818, 6819, 6820, 6821, 6822, 6823, 6824, 6825, 6826, 6827, 6828, 6829, 6830, 6831, 6832, 6833, 6834, 6835, 6836, 6837, 6838, 6839, 6840, 6841, 6842, 6843, 6844, 6845, 6846, 6847, 6848, 6849, 6850, 6851, 6852, 6853, 6854, 6855, 6856, 6857, 6858, 6859, 6860, 6861, 6862, 6863, 6864, 6865, 6866, 6867, 6868, 6869, 6870, 6871, 6872, 6873, 6874, 6875, 6876, 6877, 6878, 6879, 6880, 6881, 6882, 6883, 6884, 6885, 6886, 6887, 6888, 6889, 6890, 6891, 6892, 6893, 6894, 6895, 6896, 6897, 6898, 6899, 6900, 6901, 6902, 6903, 6904, 6905, 6906, 6907, 6908, 6909, 6910, 6911, 6912, 6913, 6914, 6915, 6916, 6917, 6918, 6919, 6920, 6921, 18881, 18882, 18883, 18884, 18885, 18886, 18887, 18888, 18889, 18890, 18891, 18892, 18893, 18894, 18895, 18896, 18897, 18898, 18899, 18900, 18901, 18902, 18903, 18904, 18905, 18906, 18907, 18908, 18909, 18910, 18911, 18912, 18913, 18914, 18915, 18916, 18917, 18918, 18919, 18920, 18921, 18922, 18923, 18924, 18925, 18926, 18927, 18928, 18929, 18930, 18931, 18932, 18933, 18934, 18935, 18936, 18937, 18938, 18939, 18940, 18941, 18942, 18943, 18944, 18945, 18946, 18947, 18948, 18949, 18950, 18951, 18952, 18953, 18954, 18955, 18956, 18957, 18958, 18959, 18960, 18961, 18962, 18963, 18964, 18965, 18966, 18967, 18968, 18969, 18970, 18971, 18972, 18973, 18974, 18975, 18976, 18977, 18978, 18979, 18980, 18981, 18982, 18983, 18984, 18985, 18986, 18987, 18988, 18989, 18990, 18991, 18992, 18993, 18994, 18995, 18996, 18997, 18998, 18999, 19000, 19001, 19002, 19003, 19004, 19005, 19006, 19007, 19008, 19009, 19010, 19011, 19012, 19013, 19014, 19015, 19016, 19017, 19018, 19019, 19020, 19021, 19022, 19023, 19024, 19025, 19026, 19027, 19028, 19029, 19030, 19031, 19032, 19033, 19034, 19035, 19036, 19037, 19038, 19039, 19040, 19041, 19042, 19043, 19044, 19045, 19046, 19047, 19048, 19049, 19050, 19051, 19052, 19053, 19054, 19055, 19056, 19057, 19058, 19059, 19060, 19061, 19062, 19063, 19064, 19065, 19066, 19067, 19068, 19069, 19070, 19071, 19072, 19073, 19074, 19075, 19076, 19077, 19078, 19079, 19080, 19081, 19082, 19083, 19084, 19085, 19086, 19087, 19088, 19089, 19090, 19091] [6922, 6923, 6924, 6925, 6926, 6927, 6928, 6929, 6930, 6931, 6932, 6933, 6934, 6935, 6936, 6937, 6938, 6939, 6940, 6941, 6942, 6943, 6944, 6945, 6946, 6947, 6948, 6949, 6950, 6951, 6952, 6953, 6954, 6955, 6956, 6957, 6958, 6959, 6960, 6961, 6962, 6963, 6964, 6965, 6966, 6967, 6968, 6969, 6970, 6971, 6972, 6973, 6974, 6975, 6976, 6977, 6978, 6979, 6980, 6981, 6982, 6983, 6984, 6985, 6986, 6987, 6988, 6989, 6990, 6991, 6992, 6993, 6994, 6995, 6996, 6997, 6998, 6999, 7000, 7001, 7002, 7003, 7004, 7005, 7006, 7007, 7008, 7009, 7010, 7011, 7012, 7013, 7014, 7015, 7016, 7017, 7018, 7019, 7020, 7021, 7022, 7023, 7024, 7025, 7026, 7027, 7028, 7029, 7030, 7031, 7032, 19092, 19093, 19094, 19095, 19096, 19097, 19098, 19099, 19100, 19101, 19102, 19103, 19104, 19105, 19106, 19107, 19108, 19109, 19110, 19111, 19112, 19113, 19114, 19115, 19116, 19117, 19118, 19119, 19120, 19121, 19122, 19123, 19124, 19125, 19126, 19127, 19128, 19129, 19130, 19131, 19132, 19133, 19134, 19135, 19136, 19137, 19138, 19139, 19140, 19141, 19142, 19143, 19144, 19145, 19146, 19147, 19148]
[6548, 6549, 6550, 6551, 6552, 6553, 6554, 6555, 6556, 6557, 6558, 6559, 6560, 6561, 6562, 6563, 6564, 6565, 6566, 6567, 6568, 6569, 6570, 6571, 6572, 6573, 6574, 6575, 6576, 6577, 6578, 6579, 6580, 6581, 6582, 6583, 6584, 6585, 6586, 6587, 6588, 6589, 6590, 6591, 6592, 6593, 6594, 6595, 6596, 6597, 6598, 6599, 6600, 6601, 6602, 6603, 6604, 6605, 6606, 6607, 6608, 6609, 6610, 6611, 6612, 6613, 6614, 6615, 6616, 6617, 6618, 6619, 6620, 6621, 6622, 6623, 6624, 6625, 6626, 6627, 6628, 6629, 6630, 6631, 6632, 6633, 6634, 6635, 6636, 6637, 6638, 6639, 6640, 6641, 6642, 6643, 6644, 6645, 6646, 6647, 6648, 6649, 6650, 6651, 6652, 6653, 6654, 6655, 6656, 6657, 6658, 6659, 6660, 6661, 6662, 6663, 6664, 6665, 6666, 6667, 6668, 6669, 6670, 6671, 6672, 6673, 6674, 6675, 6676, 6677, 6678, 6679, 6680, 6681, 6682, 6683, 6684, 6685, 6686, 6687, 6688, 6689, 6690, 6691, 6692, 6693, 6694, 6695, 6696, 6697, 6698, 6699, 6700, 6701, 6702, 6703, 6704, 6705, 6706, 6707, 6708, 6709, 6710, 6711, 6712, 6713, 6714, 6715, 6716, 6717, 6718, 6719, 6720, 6721, 6722, 6723, 6724, 6725, 6726, 6727, 6728, 6729, 6730, 6731, 6732, 6733, 6734, 6735, 6736, 6737, 6738, 6739, 6740, 6741, 6742, 6743, 6744, 6745, 6746, 6747, 6748, 6749, 6750, 6751, 6752, 6753, 6754, 6755, 6756, 6757, 6758, 6759, 6760, 6761, 6762, 6763, 6764, 6765, 6766, 6767, 6768, 6769, 6770, 6771, 6772, 6773, 6774, 6775, 6776, 6777, 6778, 6779, 6780, 6781, 6782, 6783, 6784, 6785, 6786, 6787, 6788, 6789, 6790, 6791, 6792, 6793, 6794, 6795, 6796, 6797, 6798, 6799, 6800, 6801, 6802, 6803, 6804, 6805, 6806, 6807, 6808, 6809, 6810, 6811, 6812, 6813, 6814, 6815, 6816, 6817, 6818, 6819, 6820, 6821, 6822, 6823, 6824, 6825, 6826, 6827, 6828, 6829, 6830, 6831, 6832, 6833, 6834, 6835, 6836, 6837, 6838, 6839, 6840, 6841, 6842, 6843, 6844, 6845, 6846, 6847, 6848, 6849, 6850, 6851, 6852, 6853, 6854, 6855, 6856, 6857, 6858, 6859, 6860, 6861, 6862, 6863, 6864, 6865, 6866, 6867, 6868, 6869, 6870, 6871, 6872, 6873, 6874, 6875, 6876, 6877, 6878, 6879, 6880, 6881, 6882, 6883, 6884, 6885, 6886, 6887, 6888, 6889, 6890, 6891, 6892, 6893, 6894, 6895, 6896, 6897, 6898, 6899, 6900, 6901, 6902, 6903, 6904, 6905, 6906, 6907, 6908, 6909, 6910, 6911, 6912, 6913, 6914, 6915, 6916, 6917, 6918, 6919, 6920, 6921, 6922, 6923, 6924, 6925, 6926, 6927, 6928, 6929, 6930, 6931, 6932, 6933, 6934, 6935, 6936, 6937, 6938, 6939, 6940, 6941, 6942, 6943, 6944, 6945, 6946, 6947, 6948, 6949, 6950, 6951, 6952, 6953, 6954, 6955, 6956, 6957, 6958, 6959, 6960, 6961, 6962, 6963, 6964, 6965, 6966, 6967, 6968, 6969, 6970, 6971, 6972, 6973, 6974, 6975, 6976, 6977, 6978, 6979, 6980, 6981, 6982, 6983, 6984, 6985, 6986, 6987, 6988, 6989, 6990, 6991, 6992, 6993, 6994, 6995, 6996, 6997, 6998, 6999, 7000, 7001, 7002, 7003, 7004, 7005, 7006, 7007, 7008, 7009, 7010, 7011, 7012, 7013, 7014, 7015, 7016, 7017, 7018, 7019, 7020, 7021, 7022, 7023, 7024, 7025, 7026, 7027, 7028, 7029, 7030, 7031, 7032, 18914, 18915, 18916, 18917, 18918, 18919, 18920, 18921, 18922, 18923, 18924, 18925, 18926, 18927, 18928, 18929, 18930, 18931, 18932, 18933, 18934, 18935, 18936, 18937, 18938, 18939, 18940, 18941, 18942, 18943, 18944, 18945, 18946, 18947, 18948, 18949, 18950, 18951, 18952, 18953, 18954, 18955, 18956, 18957, 18958, 18959, 18960, 18961, 18962, 18963, 18964, 18965, 18966, 18967, 18968, 18969, 18970, 18971, 18972, 18973, 18974, 18975, 18976, 18977, 18978, 18979, 18980, 18981, 18982, 18983, 18984, 18985, 18986, 18987, 18988, 18989, 18990, 18991, 18992, 18993, 18994, 18995, 18996, 18997, 18998, 18999, 19000, 19001, 19002, 19003, 19004, 19005, 19006, 19007, 19008, 19009, 19010, 19011, 19012, 19013, 19014, 19015, 19016, 19017, 19018, 19019, 19020, 19021, 19022, 19023, 19024, 19025, 19026, 19027, 19028, 19029, 19030, 19031, 19032, 19033, 19034, 19035, 19036, 19037, 19038, 19039, 19040, 19041, 19042, 19043, 19044, 19045, 19046, 19047, 19048, 19049, 19050, 19051, 19052, 19053, 19054, 19055, 19056, 19057, 19058, 19059, 19060, 19061, 19062, 19063, 19064, 19065, 19066, 19067, 19068, 19069, 19070, 19071, 19072, 19073, 19074, 19075, 19076, 19077, 19078, 19079, 19080, 19081, 19082, 19083, 19084, 19085, 19086, 19087, 19088, 19089, 19090, 19091, 19092, 19093, 19094, 19095, 19096, 19097, 19098, 19099, 19100, 19101, 19102, 19103, 19104, 19105, 19106, 19107, 19108, 19109, 19110, 19111, 19112, 19113, 19114, 19115, 19116, 19117, 19118, 19119, 19120, 19121, 19122, 19123, 19124, 19125, 19126, 19127, 19128, 19129, 19130, 19131, 19132, 19133, 19134, 19135, 19136, 19137, 19138, 19139, 19140, 19141, 19142, 19143, 19144, 19145, 19146, 19147, 19148] [7033, 7034, 7035, 7036, 7037, 7038, 7039, 7040, 7041, 7042, 7043, 7044, 7045, 7046, 7047, 7048, 7049, 7050, 7051, 7052, 7053, 7054, 7055, 7056, 7057, 7058, 7059, 7060, 7061, 7062, 7063, 7064, 7065, 7066, 7067, 7068, 7069, 7070, 7071, 7072, 7073, 7074, 7075, 7076, 7077, 7078, 7079, 7080, 7081, 7082, 7083, 7084, 7085, 7086, 7087, 7088, 7089, 7090, 7091, 7092, 7093, 7094, 7095, 7096, 7097, 7098, 7099, 7100, 7101, 7102, 7103, 7104, 7105, 7106, 7107, 7108, 7109, 7110, 7111, 7112, 7113, 7114, 7115, 7116, 7117, 7118, 7119, 7120, 7121, 7122, 7123, 7124, 7125, 7126, 7127, 7128, 7129, 7130, 7131, 7132, 7133, 7134, 7135, 7136, 7137, 7138, 7139, 7140, 7141, 7142, 7143, 7144, 7145, 7146, 7147, 7148, 7149, 7150, 7151, 7152, 7153, 7154, 7155, 7156, 7157, 7158, 7159, 7160, 7161, 7162, 7163, 7164, 7165, 7166, 19149, 19150, 19151, 19152, 19153, 19154, 19155, 19156, 19157, 19158, 19159, 19160, 19161, 19162, 19163, 19164, 19165, 19166, 19167, 19168, 19169, 19170, 19171, 19172, 19173, 19174, 19175, 19176, 19177, 19178, 19179, 19180, 19181, 19182]

In [91]:
tscv.get_n_splits()

16

In [103]:
train.columns

Index(['c_time', 'id', 'ds_level', 'country_code', 'Total visit', 'browser',
       'platform', 'Total User', '사용자', '세션', '신규방문자', '페이지뷰'],
      dtype='object')

In [118]:
x_col = train.columns[:8]
y_col = train.columns[8:]
print(x_col, y_col)

Index(['c_time', 'id', 'ds_level', 'country_code', 'Total visit', 'browser',
       'platform', 'Total User'],
      dtype='object') Index(['사용자', '세션', '신규방문자', '페이지뷰'], dtype='object')

In [119]:
X = train[x_col]
y = train[y_col]

In [113]:
scores = []
for train_index, test_index in tscv.split(X, validation_split_date=datetime(2020,8,16)):

    data_train   = X.loc[train_index].drop('c_time', axis=1)
    target_train = y.loc[train_index]

    data_test    = X.loc[test_index].drop('c_time', axis=1)
    target_test  = y.loc[test_index]

    # if needed, do preprocessing here

    model = build_model()
    model.fit(data_train,target_train)

    preds = model.predict(data_test)

    # accuracy for the current fold only    
    r2score = model.score(data_test,target_test)

    scores.append(r2score)

Train period: 2020-07-17 00:00:00 - 2020-08-16 00:00:00 , Test period 2020-08-16 00:00:00 - 2020-08-23 00:00:00 # train records 720 , # test records 168
Train period: 2020-07-24 00:00:00 - 2020-08-23 00:00:00 , Test period 2020-08-23 00:00:00 - 2020-08-30 00:00:00 # train records 720 , # test records 168
Train period: 2020-07-31 00:00:00 - 2020-08-30 00:00:00 , Test period 2020-08-30 00:00:00 - 2020-09-06 00:00:00 # train records 720 , # test records 168
Train period: 2020-08-07 00:00:00 - 2020-09-06 00:00:00 , Test period 2020-09-06 00:00:00 - 2020-09-13 00:00:00 # train records 720 , # test records 168
Train period: 2020-08-14 00:00:00 - 2020-09-13 00:00:00 , Test period 2020-09-13 00:00:00 - 2020-09-20 00:00:00 # train records 720 , # test records 168
Train period: 2020-08-21 00:00:00 - 2020-09-20 00:00:00 , Test period 2020-09-20 00:00:00 - 2020-09-27 00:00:00 # train records 720 , # test records 168
Train period: 2020-08-28 00:00:00 - 2020-09-27 00:00:00 , Test period 2020-09-27 00:00:00 - 2020-10-04 00:00:00 # train records 720 , # test records 168
Train period: 2020-09-04 00:00:00 - 2020-10-04 00:00:00 , Test period 2020-10-04 00:00:00 - 2020-10-11 00:00:00 # train records 720 , # test records 168
Train period: 2020-09-11 00:00:00 - 2020-10-11 00:00:00 , Test period 2020-10-11 00:00:00 - 2020-10-18 00:00:00 # train records 720 , # test records 168
Train period: 2020-09-18 00:00:00 - 2020-10-18 00:00:00 , Test period 2020-10-18 00:00:00 - 2020-10-25 00:00:00 # train records 720 , # test records 168
Train period: 2020-09-25 00:00:00 - 2020-10-25 00:00:00 , Test period 2020-10-25 00:00:00 - 2020-11-01 00:00:00 # train records 720 , # test records 168
Train period: 2020-10-02 00:00:00 - 2020-11-01 00:00:00 , Test period 2020-11-01 00:00:00 - 2020-11-08 00:00:00 # train records 720 , # test records 168
Train period: 2020-10-09 00:00:00 - 2020-11-08 00:00:00 , Test period 2020-11-08 00:00:00 - 2020-11-15 00:00:00 # train records 720 , # test records 130
Train period: 2020-10-16 00:00:00 - 2020-11-15 00:00:00 , Test period 2020-11-15 00:00:00 - 2020-11-22 00:00:00 # train records 682 , # test records 119
Train period: 2020-10-23 00:00:00 - 2020-11-22 00:00:00 , Test period 2020-11-22 00:00:00 - 2020-11-29 00:00:00 # train records 633 , # test records 118
Train period: 2020-10-30 00:00:00 - 2020-11-29 00:00:00 , Test period 2020-11-29 00:00:00 - 2020-12-06 00:00:00 # train records 583 , # test records 116

ValueError: in user code:

    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\keras\engine\training.py:806 train_function  *
        return step_function(self, iterator)
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\keras\engine\training.py:796 step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:1211 run
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2585 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\distribute\distribute_lib.py:2945 _call_for_each_replica
        return fn(*args, **kwargs)
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\keras\engine\training.py:789 run_step  **
        outputs = model.train_step(data)
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\keras\engine\training.py:748 train_step
        loss = self.compiled_loss(
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\keras\engine\compile_utils.py:204 __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\keras\losses.py:149 __call__
        losses = ag_call(y_true, y_pred)
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\keras\losses.py:253 call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\util\dispatch.py:201 wrapper
        return target(*args, **kwargs)
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\keras\losses.py:1195 mean_squared_error
        return K.mean(math_ops.squared_difference(y_pred, y_true), axis=-1)
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\ops\gen_math_ops.py:10398 squared_difference
        _, _, _op, _outputs = _op_def_library._apply_op_helper(
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:742 _apply_op_helper
        op = g._create_op_internal(op_type_name, inputs, dtypes=None,
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\framework\func_graph.py:591 _create_op_internal
        return super(FuncGraph, self)._create_op_internal(  # pylint: disable=protected-access
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\framework\ops.py:3477 _create_op_internal
        ret = Operation(
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\framework\ops.py:1974 __init__
        self._c_op = _create_c_op(self._graph, node_def, inputs,
    C:\Users\BIS_COM\anaconda3\lib\site-packages\tensorflow\python\framework\ops.py:1815 _create_c_op
        raise ValueError(str(e))

    ValueError: Dimensions must be equal, but are 4 and 5 for '{{node mean_squared_error/SquaredDifference}} = SquaredDifference[T=DT_FLOAT](sequential_1/dense_5/BiasAdd, Cast)' with input shapes: [?,4], [?,5].

In [121]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm
tscv = TimeSeriesSplit(n_splits = 4)
rmse = []
for x_col, y_col in tscv.split(train):
    cv_train, cv_test = train.iloc[x_col], train.iloc[y_col]
    
    model = build_model()
    model.fit(cv_train,cv_test)
    
    predictions = model.predict(data_test)
    true_values = cv_test.values
    rmse.append(sqrt(mean_squared_error(true_values, predictions)))
    
print("RMSE: {}".format(np.mean(rmse)))

ValueError: Data cardinality is ambiguous:
  x sizes: 3958
  y sizes: 3957
Please provide data which shares the same first dimension.