In [1]:
import pandas as pd
import os
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# SET WORK DERC

#### For my Mac
# os.chdir('//Users//patricklee//Desktop//파이썬//DACON//2020DACON_CUP') 

### For my Desktop
os.chdir('C://Users//BIS_COM//data//dacon//2020')

In [2]:
train_df = pd.read_csv(r'./train.csv',encoding='cp949',parse_dates=['DateTime'])
login_df = pd.read_csv(r'./info_login.csv',parse_dates=['c_time'],index_col=0)
user_df = pd.read_csv(r'./info_user.csv',parse_dates=['c_time'],index_col=0)
compe_df = pd.read_csv(r'./info_competition.csv',encoding='cp949',parse_dates=['period_start','period_end'],index_col=0)
sub_df = pd.read_csv(r'./info_submission.csv',encoding='cp949',index_col=0,parse_dates=['c_time'])

C:\Users\BIS_COM\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
all_data = [train_df,login_df,user_df,compe_df,sub_df]
just_data = [login_df,user_df,compe_df]
user_data = [user_df,login_df]

In [4]:
for i in all_data :
    print('-'*50)
    i.info()

--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19008 entries, 0 to 19007
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  19008 non-null  datetime64[ns]
 1   사용자       19008 non-null  int64
 2   세션        19008 non-null  int64
 3   신규방문자     19008 non-null  int64
 4   페이지뷰      19008 non-null  int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 742.6 KB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Float64Index: 151428 entries, 0.0 to nan
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   login_id  148999 non-null  float64
 1   user_id   141585 non-null  float64
 2   c_time    148999 non-null  datetime64[ns]
 3   platform  64654 non-null   object
 4   browser   64654 non-null   object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 6.9+ MB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Float64Index: 22103 entries, 0.0 to nan
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       21692 non-null  float64
 1   c_time                   21692 non-null  datetime64[ns]
 2   entered_competition_cnt  21692 non-null  float64
 3   code_share_cnt           21692 non-null  float64
 4   talk_board_cnt           21692 non-null  float64
 5   country_code             21692 non-null  float64
 6   python_level             21692 non-null  float64
 7   ds_level                 21692 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 1.5 MB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 109
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cpt_id            48 non-null     int64
 1   is_official       48 non-null     int64
 2   period_start      48 non-null     datetime64[ns]
 3   period_end        48 non-null     datetime64[ns]
 4   name              48 non-null     object
 5   name_eng          25 non-null     object
 6   keyword           48 non-null     object
 7   keyword_eng       24 non-null     object
 8   participants      48 non-null     int64
 9   max_team_member   48 non-null     int64
 10  max_file_per_day  48 non-null     int64
 11  prize             48 non-null     int64
 12  prize_info        32 non-null     object
 13  merge_deadline    48 non-null     object
 14  winner_show       48 non-null     int64
dtypes: datetime64[ns](2), int64(7), object(6)
memory usage: 6.0+ KB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Float64Index: 103375 entries, 0.0 to nan
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   sub_id   101587 non-null  float64
 1   cpt_id   101587 non-null  float64
 2   team_id  101501 non-null  float64
 3   user_id  99262 non-null   float64
 4   c_time   101587 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 4.7 MB

In [5]:
login_df['c_time'] = login_df['c_time'].dt.date
user_df['c_time'] = user_df['c_time'].dt.date
compe_df['period_start'] = compe_df['period_start'].dt.date
compe_df['period_end'] = compe_df['period_end'].dt.date

# User Data Reshape

In [6]:
user_df.sort_values(by='c_time',axis=0)
user_df

,id,c_time,entered_competition_cnt,code_share_cnt,talk_board_cnt,country_code,python_level,ds_level
0.0,15994.0,2017-05-02,94.0,306.0,477.0,82.0,1.0,1.0
1.0,19195.0,2018-08-08,1.0,0.0,0.0,82.0,1.0,1.0
2.0,16339.0,2018-08-08,1.0,0.0,0.0,82.0,1.0,1.0
3.0,7290.0,2018-08-08,0.0,0.0,0.0,82.0,1.0,1.0
4.0,21287.0,2018-08-08,0.0,0.0,0.0,82.0,1.0,1.0
...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
user_df.isnull().sum()

id                         411
c_time                     411
entered_competition_cnt    411
code_share_cnt             411
talk_board_cnt             411
country_code               411
python_level               411
ds_level                   411
dtype: int64

In [8]:
user_df.shape

(22103, 8)

In [9]:
user_df = user_df.dropna(axis=0, how='any')

In [10]:
user_df.shape

(21692, 8)

In [11]:
22103 - 21692

411

In [12]:
user_df.isnull().sum()

id                         0
c_time                     0
entered_competition_cnt    0
code_share_cnt             0
talk_board_cnt             0
country_code               0
python_level               0
ds_level                   0
dtype: int64

# Login Data reshape

In [13]:
login_df.isnull().sum()

login_id     2429
user_id      9843
c_time       2429
platform    86774
browser     86774
dtype: int64

In [14]:
login_df.sort_values('c_time')

      login_id  user_id      c_time   platform                 browser
0.0    14196.0  19195.0  2018-09-23  Windows 8  Internet Explorer 10.0
20.0   14322.0  19221.0  2018-09-23    Windows    Chrome 69.0.3497.100
21.0   14323.0   9771.0  2018-09-23      Apple    Chrome 69.0.3497.100
22.0   14338.0     91.0  2018-09-23      Apple             Safari 12.0
23.0   14346.0  17298.0  2018-09-23    Windows    Chrome 68.0.3440.106
...        ...      ...         ...        ...                     ...
NaN        NaN      NaN         NaN        NaN                     NaN
NaN        NaN      NaN         NaN        NaN                     NaN
NaN        NaN      NaN         NaN        NaN                     NaN
NaN        NaN      NaN         NaN        NaN                     NaN
NaN        NaN      NaN         NaN        NaN                     NaN

[151428 rows x 5 columns]

In [15]:
login_drop_df = login_df.copy()
# login_drop_df['c_time'] = login_drop_df['c_time'].dropna
# login_drop_df.head()

In [16]:
login_drop_df=login_drop_df.dropna(how='all')
login_drop_df.head()

     login_id  user_id      c_time   platform                 browser
0.0   14196.0  19195.0  2018-09-23  Windows 8  Internet Explorer 10.0
1.0   14234.0  22045.0  2018-09-23    Windows     Chrome 67.0.3396.99
2.0   14256.0   8790.0  2018-09-23    Windows    Chrome 69.0.3497.100
3.0   14278.0      NaN  2018-09-23    Windows    Chrome 69.0.3497.100
4.0   14279.0      NaN  2018-09-23    Windows    Chrome 69.0.3497.100

In [17]:
login_drop_df.isnull().sum()

login_id        0
user_id      7414
c_time          0
platform    84345
browser     84345
dtype: int64

In [18]:
login_drop_df['user_id'] = login_drop_df['user_id'].fillna(-99)
login_drop_df['platform'] = login_drop_df['platform'].fillna('Other')
login_drop_df['browser'] = login_drop_df['browser'].fillna('Other')

In [19]:
login_drop_df.isnull().sum()

login_id    0
user_id     0
c_time      0
platform    0
browser     0
dtype: int64

In [20]:
login_drop_df.head()

     login_id  user_id      c_time   platform                 browser
0.0   14196.0  19195.0  2018-09-23  Windows 8  Internet Explorer 10.0
1.0   14234.0  22045.0  2018-09-23    Windows     Chrome 67.0.3396.99
2.0   14256.0   8790.0  2018-09-23    Windows    Chrome 69.0.3497.100
3.0   14278.0    -99.0  2018-09-23    Windows    Chrome 69.0.3497.100
4.0   14279.0    -99.0  2018-09-23    Windows    Chrome 69.0.3497.100

# New Data Tabel

In [21]:
user_df.columns

Index(['id', 'c_time', 'entered_competition_cnt', 'code_share_cnt',
       'talk_board_cnt', 'country_code', 'python_level', 'ds_level'],
      dtype='object')

In [22]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 21692 entries, 0.0 to 21691.0
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       21692 non-null  float64
 1   c_time                   21692 non-null  object
 2   entered_competition_cnt  21692 non-null  float64
 3   code_share_cnt           21692 non-null  float64
 4   talk_board_cnt           21692 non-null  float64
 5   country_code             21692 non-null  float64
 6   python_level             21692 non-null  float64
 7   ds_level                 21692 non-null  float64
dtypes: float64(7), object(1)
memory usage: 1.5+ MB

In [23]:
user_df['c_time'] = pd.to_datetime(user_df['c_time'])
user_df['c_time'] = user_df['c_time'].dt.date

<ipython-input-23-7968f3b8cbd2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['c_time'] = pd.to_datetime(user_df['c_time'])
<ipython-input-23-7968f3b8cbd2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['c_time'] = user_df['c_time'].dt.date

In [24]:
pv_user_df1 = pd.pivot_table(user_df, index='c_time',values=['id'],aggfunc='count')

In [25]:
pv_user_df1

            id
c_time
2017-05-02   1
2018-08-08   6
2018-08-09   1
2018-08-10   2
2018-08-12   1
...         ..
2020-12-04  42
2020-12-05  31
2020-12-06  24
2020-12-07  70
2020-12-08  70

[843 rows x 1 columns]

In [26]:
pv_user_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 843 entries, 2017-05-02 to 2020-12-08
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      843 non-null    int64
dtypes: int64(1)
memory usage: 13.2+ KB

In [27]:
pv_user_df2 = pd.pivot_table(user_df, index='c_time',values=['ds_level'],aggfunc='mean')

In [28]:
pv_user_df2

            ds_level
c_time
2017-05-02       1.0
2018-08-08       1.0
2018-08-09       1.0
2018-08-10       1.0
2018-08-12       1.0
...              ...
2020-12-04       1.0
2020-12-05       1.0
2020-12-06       1.0
2020-12-07       1.0
2020-12-08       1.0

[843 rows x 1 columns]

In [29]:
pv_user_df3 = pd.pivot_table(user_df, index='c_time',values=['country_code'],aggfunc='nunique')

In [30]:
pv_user_df3

            c_time  country_code
c_time
2017-05-02       1             1
2018-08-08       1             1
2018-08-09       1             1
2018-08-10       1             1
2018-08-12       1             1
...            ...           ...
2020-12-04       1             2
2020-12-05       1             1
2020-12-06       1             1
2020-12-07       1             3
2020-12-08       1             1

[843 rows x 2 columns]

In [31]:
pv_user_df3=pv_user_df3.drop(axis=1,columns='c_time')

In [32]:
new_user_df = pd.merge(pv_user_df1, pv_user_df2, how='outer',on='c_time')

In [33]:
new_user_df

            id  ds_level
c_time
2017-05-02   1       1.0
2018-08-08   6       1.0
2018-08-09   1       1.0
2018-08-10   2       1.0
2018-08-12   1       1.0
...         ..       ...
2020-12-04  42       1.0
2020-12-05  31       1.0
2020-12-06  24       1.0
2020-12-07  70       1.0
2020-12-08  70       1.0

[843 rows x 2 columns]

In [34]:
new_user_df = pd.merge(new_user_df, pv_user_df3, how='outer',on='c_time')

In [35]:
new_user_df

            id  ds_level  country_code
c_time
2017-05-02   1       1.0             1
2018-08-08   6       1.0             1
2018-08-09   1       1.0             1
2018-08-10   2       1.0             1
2018-08-12   1       1.0             1
...         ..       ...           ...
2020-12-04  42       1.0             2
2020-12-05  31       1.0             1
2020-12-06  24       1.0             1
2020-12-07  70       1.0             3
2020-12-08  70       1.0             1

[843 rows x 3 columns]

In [36]:
login_drop_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 148999 entries, 0.0 to 148998.0
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   login_id  148999 non-null  float64
 1   user_id   148999 non-null  float64
 2   c_time    148999 non-null  object
 3   platform  148999 non-null  object
 4   browser   148999 non-null  object
dtypes: float64(2), object(3)
memory usage: 6.8+ MB