In [1]:
import pandas as pd
import os
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# SET WORK DERC

#### For my Mac
# os.chdir('//Users//patricklee//Desktop//파이썬//DACON//2020DACON_CUP') 

### For my Desktop
os.chdir('C://Users//BIS_COM//data//dacon//2020')

In [2]:
train_df = pd.read_csv(r'./train.csv',encoding='cp949',parse_dates=['DateTime'])
login_df = pd.read_csv(r'./info_login.csv',parse_dates=['c_time'],index_col=0)
user_df = pd.read_csv(r'./info_user.csv',parse_dates=['c_time'],index_col=0)
compe_df = pd.read_csv(r'./info_competition.csv',encoding='cp949',parse_dates=['period_start','period_end'],index_col=0)
sub_df = pd.read_csv(r'./info_submission.csv',encoding='cp949',index_col=0,parse_dates=['c_time'])

C:\Users\BIS_COM\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
all_data = [train_df,login_df,user_df,compe_df,sub_df]
just_data = [login_df,user_df,compe_df]
user_data = [user_df,login_df]

In [4]:
for i in all_data :
    print('-'*50)
    i.info()

--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19008 entries, 0 to 19007
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  19008 non-null  datetime64[ns]
 1   사용자       19008 non-null  int64
 2   세션        19008 non-null  int64
 3   신규방문자     19008 non-null  int64
 4   페이지뷰      19008 non-null  int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 742.6 KB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Float64Index: 151428 entries, 0.0 to nan
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   login_id  148999 non-null  float64
 1   user_id   141585 non-null  float64
 2   c_time    148999 non-null  datetime64[ns]
 3   platform  64654 non-null   object
 4   browser   64654 non-null   object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 6.9+ MB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Float64Index: 22103 entries, 0.0 to nan
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       21692 non-null  float64
 1   c_time                   21692 non-null  datetime64[ns]
 2   entered_competition_cnt  21692 non-null  float64
 3   code_share_cnt           21692 non-null  float64
 4   talk_board_cnt           21692 non-null  float64
 5   country_code             21692 non-null  float64
 6   python_level             21692 non-null  float64
 7   ds_level                 21692 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 1.5 MB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 109
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cpt_id            48 non-null     int64
 1   is_official       48 non-null     int64
 2   period_start      48 non-null     datetime64[ns]
 3   period_end        48 non-null     datetime64[ns]
 4   name              48 non-null     object
 5   name_eng          25 non-null     object
 6   keyword           48 non-null     object
 7   keyword_eng       24 non-null     object
 8   participants      48 non-null     int64
 9   max_team_member   48 non-null     int64
 10  max_file_per_day  48 non-null     int64
 11  prize             48 non-null     int64
 12  prize_info        32 non-null     object
 13  merge_deadline    48 non-null     object
 14  winner_show       48 non-null     int64
dtypes: datetime64[ns](2), int64(7), object(6)
memory usage: 6.0+ KB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Float64Index: 103375 entries, 0.0 to nan
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   sub_id   101587 non-null  float64
 1   cpt_id   101587 non-null  float64
 2   team_id  101501 non-null  float64
 3   user_id  99262 non-null   float64
 4   c_time   101587 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 4.7 MB

In [5]:
login_df['c_time'] = login_df['c_time'].dt.date
user_df['c_time'] = user_df['c_time'].dt.date
compe_df['period_start'] = compe_df['period_start'].dt.date
compe_df['period_end'] = compe_df['period_end'].dt.date
train_df['DateTime'] = train_df['DateTime'].dt.date

In [6]:
train_df

         DateTime  사용자   세션  신규방문자  페이지뷰
0      2018-09-09   19   19      8   206
1      2018-09-09   20   19      9   259
2      2018-09-09   12    9      1    48
3      2018-09-09   10   10      2   102
4      2018-09-09    6    5      3    18
...           ...  ...  ...    ...   ...
19003  2020-11-08  124  123     19  3128
19004  2020-11-08  166  159     29  4864
19005  2020-11-08  184  173     32  3426
19006  2020-11-08  163  155     34  2845
19007  2020-11-08  160  152     33  3293

[19008 rows x 5 columns]

# User Data Reshape

In [7]:
user_df.sort_values(by='c_time',axis=0)
user_df

,id,c_time,entered_competition_cnt,code_share_cnt,talk_board_cnt,country_code,python_level,ds_level
0.0,15994.0,2017-05-02,94.0,306.0,477.0,82.0,1.0,1.0
1.0,19195.0,2018-08-08,1.0,0.0,0.0,82.0,1.0,1.0
2.0,16339.0,2018-08-08,1.0,0.0,0.0,82.0,1.0,1.0
3.0,7290.0,2018-08-08,0.0,0.0,0.0,82.0,1.0,1.0
4.0,21287.0,2018-08-08,0.0,0.0,0.0,82.0,1.0,1.0
...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
user_df.isnull().sum()

id                         411
c_time                     411
entered_competition_cnt    411
code_share_cnt             411
talk_board_cnt             411
country_code               411
python_level               411
ds_level                   411
dtype: int64

In [9]:
user_df.shape

(22103, 8)

In [10]:
user_df = user_df.dropna(axis=0, how='any')

In [11]:
user_df.shape

(21692, 8)

In [12]:
22103 - 21692

411

In [13]:
user_df.isnull().sum()

id                         0
c_time                     0
entered_competition_cnt    0
code_share_cnt             0
talk_board_cnt             0
country_code               0
python_level               0
ds_level                   0
dtype: int64

# Login Data reshape

In [14]:
login_df.isnull().sum()

login_id     2429
user_id      9843
c_time       2429
platform    86774
browser     86774
dtype: int64

In [15]:
login_df.sort_values('c_time')

      login_id  user_id      c_time   platform                 browser
0.0    14196.0  19195.0  2018-09-23  Windows 8  Internet Explorer 10.0
20.0   14322.0  19221.0  2018-09-23    Windows    Chrome 69.0.3497.100
21.0   14323.0   9771.0  2018-09-23      Apple    Chrome 69.0.3497.100
22.0   14338.0     91.0  2018-09-23      Apple             Safari 12.0
23.0   14346.0  17298.0  2018-09-23    Windows    Chrome 68.0.3440.106
...        ...      ...         ...        ...                     ...
NaN        NaN      NaN         NaN        NaN                     NaN
NaN        NaN      NaN         NaN        NaN                     NaN
NaN        NaN      NaN         NaN        NaN                     NaN
NaN        NaN      NaN         NaN        NaN                     NaN
NaN        NaN      NaN         NaN        NaN                     NaN

[151428 rows x 5 columns]

In [16]:
login_drop_df = login_df.copy()
# login_drop_df['c_time'] = login_drop_df['c_time'].dropna
# login_drop_df.head()

In [17]:
login_drop_df=login_drop_df.dropna(how='all')
login_drop_df.head()

     login_id  user_id      c_time   platform                 browser
0.0   14196.0  19195.0  2018-09-23  Windows 8  Internet Explorer 10.0
1.0   14234.0  22045.0  2018-09-23    Windows     Chrome 67.0.3396.99
2.0   14256.0   8790.0  2018-09-23    Windows    Chrome 69.0.3497.100
3.0   14278.0      NaN  2018-09-23    Windows    Chrome 69.0.3497.100
4.0   14279.0      NaN  2018-09-23    Windows    Chrome 69.0.3497.100

In [18]:
login_drop_df.isnull().sum()

login_id        0
user_id      7414
c_time          0
platform    84345
browser     84345
dtype: int64

In [19]:
login_drop_df['user_id'] = login_drop_df['user_id'].fillna(-99)
login_drop_df['platform'] = login_drop_df['platform'].fillna('Other')
login_drop_df['browser'] = login_drop_df['browser'].fillna('Other')

In [20]:
login_drop_df.isnull().sum()

login_id    0
user_id     0
c_time      0
platform    0
browser     0
dtype: int64

In [21]:
login_drop_df.head()

     login_id  user_id      c_time   platform                 browser
0.0   14196.0  19195.0  2018-09-23  Windows 8  Internet Explorer 10.0
1.0   14234.0  22045.0  2018-09-23    Windows     Chrome 67.0.3396.99
2.0   14256.0   8790.0  2018-09-23    Windows    Chrome 69.0.3497.100
3.0   14278.0    -99.0  2018-09-23    Windows    Chrome 69.0.3497.100
4.0   14279.0    -99.0  2018-09-23    Windows    Chrome 69.0.3497.100

# New Data Tabel

In [22]:
user_df.columns

Index(['id', 'c_time', 'entered_competition_cnt', 'code_share_cnt',
       'talk_board_cnt', 'country_code', 'python_level', 'ds_level'],
      dtype='object')

In [23]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 21692 entries, 0.0 to 21691.0
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       21692 non-null  float64
 1   c_time                   21692 non-null  object
 2   entered_competition_cnt  21692 non-null  float64
 3   code_share_cnt           21692 non-null  float64
 4   talk_board_cnt           21692 non-null  float64
 5   country_code             21692 non-null  float64
 6   python_level             21692 non-null  float64
 7   ds_level                 21692 non-null  float64
dtypes: float64(7), object(1)
memory usage: 1.5+ MB

In [24]:
user_df['c_time'] = pd.to_datetime(user_df['c_time'])
user_df['c_time'] = user_df['c_time'].dt.date

<ipython-input-24-7968f3b8cbd2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['c_time'] = pd.to_datetime(user_df['c_time'])
<ipython-input-24-7968f3b8cbd2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['c_time'] = user_df['c_time'].dt.date

In [25]:
pv_user_df1 = pd.pivot_table(user_df, index='c_time',values=['id'],aggfunc='count')

In [26]:
pv_user_df1

            id
c_time
2017-05-02   1
2018-08-08   6
2018-08-09   1
2018-08-10   2
2018-08-12   1
...         ..
2020-12-04  42
2020-12-05  31
2020-12-06  24
2020-12-07  70
2020-12-08  70

[843 rows x 1 columns]

In [27]:
pv_user_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 843 entries, 2017-05-02 to 2020-12-08
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      843 non-null    int64
dtypes: int64(1)
memory usage: 13.2+ KB

In [28]:
pv_user_df2 = pd.pivot_table(user_df, index='c_time',values=['ds_level'],aggfunc='mean')

In [29]:
pv_user_df2

            ds_level
c_time
2017-05-02       1.0
2018-08-08       1.0
2018-08-09       1.0
2018-08-10       1.0
2018-08-12       1.0
...              ...
2020-12-04       1.0
2020-12-05       1.0
2020-12-06       1.0
2020-12-07       1.0
2020-12-08       1.0

[843 rows x 1 columns]

In [30]:
pv_user_df3 = pd.pivot_table(user_df, index='c_time',values=['country_code'],aggfunc='nunique')

In [31]:
pv_user_df3

            c_time  country_code
c_time
2017-05-02       1             1
2018-08-08       1             1
2018-08-09       1             1
2018-08-10       1             1
2018-08-12       1             1
...            ...           ...
2020-12-04       1             2
2020-12-05       1             1
2020-12-06       1             1
2020-12-07       1             3
2020-12-08       1             1

[843 rows x 2 columns]

In [32]:
pv_user_df3=pv_user_df3.drop(axis=1,columns='c_time')

In [33]:
new_user_df = pd.merge(pv_user_df1, pv_user_df2, how='outer',on='c_time')

In [34]:
new_user_df

            id  ds_level
c_time
2017-05-02   1       1.0
2018-08-08   6       1.0
2018-08-09   1       1.0
2018-08-10   2       1.0
2018-08-12   1       1.0
...         ..       ...
2020-12-04  42       1.0
2020-12-05  31       1.0
2020-12-06  24       1.0
2020-12-07  70       1.0
2020-12-08  70       1.0

[843 rows x 2 columns]

In [35]:
new_user_df = pd.merge(new_user_df, pv_user_df3, how='outer',on='c_time')

In [36]:
new_user_df

            id  ds_level  country_code
c_time
2017-05-02   1       1.0             1
2018-08-08   6       1.0             1
2018-08-09   1       1.0             1
2018-08-10   2       1.0             1
2018-08-12   1       1.0             1
...         ..       ...           ...
2020-12-04  42       1.0             2
2020-12-05  31       1.0             1
2020-12-06  24       1.0             1
2020-12-07  70       1.0             3
2020-12-08  70       1.0             1

[843 rows x 3 columns]

### login data new values

In [37]:
login_drop_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 148999 entries, 0.0 to 148998.0
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   login_id  148999 non-null  float64
 1   user_id   148999 non-null  float64
 2   c_time    148999 non-null  object
 3   platform  148999 non-null  object
 4   browser   148999 non-null  object
dtypes: float64(2), object(3)
memory usage: 6.8+ MB

In [38]:
pv_user_df1 = pd.pivot_table(login_drop_df, index='c_time',values=['user_id'],aggfunc='count')

In [39]:
pv_user_df1

            user_id
c_time
2018-09-23       35
2018-09-24       30
2018-09-25       18
2018-09-26       48
2018-09-27       31
...             ...
2020-12-04      276
2020-12-05      143
2020-12-06      169
2020-12-07      345
2020-12-08      299

[808 rows x 1 columns]

In [40]:
pv_user_df2 = pd.pivot_table(login_drop_df, index='c_time',values=['platform','browser','user_id'],aggfunc='nunique')
pv_user_df2

            browser  c_time  platform  user_id
c_time
2018-09-23       11       1         6       19
2018-09-24       12       1         5       22
2018-09-25        6       1         2       14
2018-09-26       10       1         5       31
2018-09-27        9       1         3       24
...             ...     ...       ...      ...
2020-12-04        1       1         1      228
2020-12-05        1       1         1      129
2020-12-06        1       1         1      148
2020-12-07        1       1         1      280
2020-12-08        1       1         1      266

[808 rows x 4 columns]

In [41]:
pv_user_df2 = pv_user_df2.drop(axis=1, columns='c_time')

In [42]:
new_login_df = pd.merge(pv_user_df1, pv_user_df2, how='outer',on='c_time')
new_login_df.tail()

            user_id_x  browser  platform  user_id_y
c_time
2020-12-04        276        1         1        228
2020-12-05        143        1         1        129
2020-12-06        169        1         1        148
2020-12-07        345        1         1        280
2020-12-08        299        1         1        266

In [43]:
new_login_df=new_login_df.rename({'user_id_x':'Total visit', 'user_id_y':'Total User'},axis='columns')

In [44]:
new_login_df

            Total visit  browser  platform  Total User
c_time
2018-09-23           35       11         6          19
2018-09-24           30       12         5          22
2018-09-25           18        6         2          14
2018-09-26           48       10         5          31
2018-09-27           31        9         3          24
...                 ...      ...       ...         ...
2020-12-04          276        1         1         228
2020-12-05          143        1         1         129
2020-12-06          169        1         1         148
2020-12-07          345        1         1         280
2020-12-08          299        1         1         266

[808 rows x 4 columns]

In [45]:
new_value_df = pd.merge(new_user_df, new_login_df, how='outer',on='c_time')

In [46]:
new_value_df

,id,ds_level,country_code,Total visit,browser,platform,Total User
c_time,,,,,,,
2017-05-02,1.0,1.0,1.0,NaN,NaN,NaN,NaN
2018-08-08,6.0,1.0,1.0,NaN,NaN,NaN,NaN
2018-08-09,1.0,1.0,1.0,NaN,NaN,NaN,NaN
2018-08-10,2.0,1.0,1.0,NaN,NaN,NaN,NaN
2018-08-12,1.0,1.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2018-11-03,NaN,NaN,NaN,19.0,8.0,5.0,14.0
2018-11-07,NaN,NaN,NaN,43.0,9.0,7.0,20.0
2019-04-06,NaN,NaN,NaN,36.0,10.0,6.0,26.0
2019-04-18,NaN,NaN,NaN,20.0,10.0,5.0,13.0
2019-04-20,NaN,NaN,NaN,18.0,10.0,6.0,12.0

# Missing Value

In [47]:
new_value_df = new_value_df.fillna(-99)

In [48]:
new_value_df

,id,ds_level,country_code,Total visit,browser,platform,Total User
c_time,,,,,,,
2017-05-02,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0
2018-08-08,6.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0
2018-08-09,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0
2018-08-10,2.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0
2018-08-12,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0
...,...,...,...,...,...,...,...
2018-11-03,-99.0,-99.0,-99.0,19.0,8.0,5.0,14.0
2018-11-07,-99.0,-99.0,-99.0,43.0,9.0,7.0,20.0
2019-04-06,-99.0,-99.0,-99.0,36.0,10.0,6.0,26.0
2019-04-18,-99.0,-99.0,-99.0,20.0,10.0,5.0,13.0
2019-04-20,-99.0,-99.0,-99.0,18.0,10.0,6.0,12.0

In [49]:
train_df=train_df.rename({'DateTime':'c_time'},axis='columns')

In [50]:
train_df

           c_time  사용자   세션  신규방문자  페이지뷰
0      2018-09-09   19   19      8   206
1      2018-09-09   20   19      9   259
2      2018-09-09   12    9      1    48
3      2018-09-09   10   10      2   102
4      2018-09-09    6    5      3    18
...           ...  ...  ...    ...   ...
19003  2020-11-08  124  123     19  3128
19004  2020-11-08  166  159     29  4864
19005  2020-11-08  184  173     32  3426
19006  2020-11-08  163  155     34  2845
19007  2020-11-08  160  152     33  3293

[19008 rows x 5 columns]

In [139]:
train = pd.merge(new_value_df, train_df,how="outer",on="c_time")

In [140]:
train = train.fillna(0)

In [141]:
train

,c_time,id,ds_level,country_code,Total visit,browser,platform,Total User,사용자,세션,신규방문자,페이지뷰
0,2017-05-02,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,0.0,0.0,0.0,0.0
1,2018-08-08,6.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,0.0,0.0,0.0,0.0
2,2018-08-09,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,0.0,0.0,0.0,0.0
3,2018-08-10,2.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,0.0,0.0,0.0,0.0
4,2018-08-12,1.0,1.0,1.0,-99.0,-99.0,-99.0,-99.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19065,2019-04-20,-99.0,-99.0,-99.0,18.0,10.0,6.0,12.0,3.0,3.0,0.0,34.0
19066,2019-04-20,-99.0,-99.0,-99.0,18.0,10.0,6.0,12.0,3.0,3.0,1.0,44.0
19067,2019-04-20,-99.0,-99.0,-99.0,18.0,10.0,6.0,12.0,7.0,7.0,2.0,26.0
19068,2019-04-20,-99.0,-99.0,-99.0,18.0,10.0,6.0,12.0,7.0,7.0,1.0,74.0
19069,2019-04-20,-99.0,-99.0,-99.0,18.0,10.0,6.0,12.0,6.0,5.0,0.0,34.0

In [142]:
train=train.sort_values(by='c_time') # 19040
train.iloc[19039:]

,c_time,id,ds_level,country_code,Total visit,browser,platform,Total User,사용자,세션,신규방문자,페이지뷰
18756,2020-11-08,36.0,1.0,1.0,224.0,1.0,1.0,182.0,17.0,18.0,1.0,148.0
18776,2020-11-09,162.0,1.0,1.0,460.0,1.0,1.0,399.0,0.0,0.0,0.0,0.0
18777,2020-11-10,75.0,1.0,1.0,356.0,1.0,1.0,316.0,0.0,0.0,0.0,0.0
18778,2020-11-11,86.0,1.0,4.0,504.0,1.0,1.0,399.0,0.0,0.0,0.0,0.0
18779,2020-11-12,61.0,1.0,1.0,394.0,1.0,1.0,334.0,0.0,0.0,0.0,0.0
18780,2020-11-13,74.0,1.0,2.0,397.0,1.0,1.0,332.0,0.0,0.0,0.0,0.0
18781,2020-11-14,31.0,1.0,3.0,222.0,1.0,1.0,185.0,0.0,0.0,0.0,0.0
18782,2020-11-15,50.0,1.0,1.0,296.0,1.0,1.0,256.0,0.0,0.0,0.0,0.0
18783,2020-11-16,76.0,1.0,1.0,600.0,1.0,1.0,469.0,0.0,0.0,0.0,0.0
18784,2020-11-17,67.0,1.0,1.0,430.0,1.0,1.0,365.0,0.0,0.0,0.0,0.0
18785,2020-11-18,63.0,1.0,1.0,312.0,1.0,1.0,264.0,0.0,0.0,0.0,0.0
18786,2020-11-19,62.0,1.0,1.0,311.0,1.0,1.0,264.0,0.0,0.0,0.0,0.0
18787,2020-11-20,69.0,1.0,1.0,254.0,1.0,1.0,223.0,0.0,0.0,0.0,0.0
18788,2020-11-21,26.0,1.0,1.0,157.0,1.0,1.0,148.0,0.0,0.0,0.0,0.0
18789,2020-11-22,31.0,1.0,1.0,173.0,1.0,1.0,150.0,0.0,0.0,0.0,0.0
18790,2020-11-23,65.0,1.0,1.0,524.0,1.0,1.0,423.0,0.0,0.0,0.0,0.0
18791,2020-11-24,69.0,1.0,1.0,395.0,1.0,1.0,339.0,0.0,0.0,0.0,0.0
18792,2020-11-25,63.0,1.0,1.0,402.0,1.0,1.0,344.0,0.0,0.0,0.0,0.0
18793,2020-11-26,41.0,1.0,1.0,318.0,1.0,1.0,268.0,0.0,0.0,0.0,0.0
18794,2020-11-27,45.0,1.0,1.0,288.0,1.0,1.0,244.0,0.0,0.0,0.0,0.0
18795,2020-11-28,36.0,1.0,1.0,231.0,1.0,1.0,203.0,0.0,0.0,0.0,0.0
18796,2020-11-29,30.0,1.0,2.0,206.0,1.0,1.0,175.0,0.0,0.0,0.0,0.0
18797,2020-11-30,62.0,1.0,1.0,346.0,1.0,1.0,306.0,0.0,0.0,0.0,0.0
18798,2020-12-01,49.0,1.0,1.0,339.0,1.0,1.0,286.0,0.0,0.0,0.0,0.0
18799,2020-12-02,33.0,1.0,1.0,308.0,1.0,1.0,257.0,0.0,0.0,0.0,0.0
18800,2020-12-03,43.0,1.0,1.0,282.0,1.0,1.0,238.0,0.0,0.0,0.0,0.0
18801,2020-12-04,42.0,1.0,2.0,276.0,1.0,1.0,228.0,0.0,0.0,0.0,0.0
18802,2020-12-05,31.0,1.0,1.0,143.0,1.0,1.0,129.0,0.0,0.0,0.0,0.0
18803,2020-12-06,24.0,1.0,1.0,169.0,1.0,1.0,148.0,0.0,0.0,0.0,0.0
18804,2020-12-07,70.0,1.0,3.0,345.0,1.0,1.0,280.0,0.0,0.0,0.0,0.0
18805,2020-12-08,70.0,1.0,1.0,299.0,1.0,1.0,266.0,0.0,0.0,0.0,0.0

# Model

In [143]:
train['c_time'] = pd.to_datetime(train['c_time'])
train.set_index('c_time', inplace= True)

In [144]:
train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19070 entries, 2017-05-02 to 2020-12-08
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            19070 non-null  float64
 1   ds_level      19070 non-null  float64
 2   country_code  19070 non-null  float64
 3   Total visit   19070 non-null  float64
 4   browser       19070 non-null  float64
 5   platform      19070 non-null  float64
 6   Total User    19070 non-null  float64
 7   사용자           19070 non-null  float64
 8   세션            19070 non-null  float64
 9   신규방문자         19070 non-null  float64
 10  페이지뷰          19070 non-null  float64
dtypes: float64(11)
memory usage: 1.7 MB

In [130]:
# train_set = train[:'2020-11-09'].iloc[:,:].values

In [131]:
# x_train = train[:'2020-11-09'].iloc[:,:7].values
# y_train = train[:'2020-11-09'].iloc[:,7:].values

# x_test = train['2020-11-09':].iloc[:,:7].values
# y_test = train['2020-11-09':].iloc[:,7:].values

# print(x_train.shape,y_train.shape,x_test.shape)

(19041, 7) (19041, 4) (30, 7)

In [160]:
x_train = train[:'2020-11-09'].iloc[:,:7]
y_train = train[:'2020-11-09'].iloc[:,7:]
x_test = train['2020-11-09':].iloc[:,:7]
y_test = train['2020-11-09':].iloc[:,7:]

In [161]:
X_train = np.expand_dims(x_train.values[:,:-1],axis = 2)
y_train = y_train.values[:,-1:]

X_test = np.expand_dims(x_test.values[:,1:],axis = 2)

print(X_train.shape,y_train.shape,X_test.shape)

(19041, 6, 1) (19041, 1) (30, 6, 1)

In [173]:
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import pandas as pd
import keras
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional
from keras.optimizers import SGD
import math
from sklearn.metrics import mean_squared_error

In [176]:
print((X_train.shape, y_train.shape, X_test.shape, y_test.shape))

model = Sequential()
model.add(LSTM(units = 128,input_shape = (6,1)))
model.add(Dropout(0.4))
model.add(keras.layers.Dense(units = 64, activation='relu'))
model.add(Dense(4, activation='sigmoid'))
model.compile(optimizer='adam', loss='mse', metrics=['mean_squared_error'])
print(model.summary())
history = model.fit(X_train, y_train, epochs=500, batch_size=4092,
                    validation_split=0.2,
                    callbacks=[EarlyStopping(monitor='val_loss',
                                             patience=7, min_delta=0.0001)])

((19041, 6, 1), (19041, 1), (30, 6, 1), (30, 4))
Model: "sequential_18"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_25 (LSTM)               (None, 128)               66560
_________________________________________________________________
dropout_21 (Dropout)         (None, 128)               0
_________________________________________________________________
dense_14 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_15 (Dense)             (None, 4)                 260
=================================================================
Total params: 75,076
Trainable params: 75,076
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/500
4/4 [==============================] - 1s 209ms/step - loss: 1407786.8750 - mean_squared_error: 1407786.8750 - val_loss: 12040760.0000 - val_mean_squared_error: 12040760.0000
Epoch 2/500
4/4 [==============================] - 0s 121ms/step - loss: 1407657.2500 - mean_squared_error: 1407657.2500 - val_loss: 12040218.0000 - val_mean_squared_error: 12040218.0000
Epoch 3/500
4/4 [==============================] - 0s 113ms/step - loss: 1407521.2500 - mean_squared_error: 1407521.2500 - val_loss: 12039539.0000 - val_mean_squared_error: 12039539.0000
Epoch 4/500
4/4 [==============================] - 0s 113ms/step - loss: 1407381.1250 - mean_squared_error: 1407381.1250 - val_loss: 12038938.0000 - val_mean_squared_error: 12038938.0000
Epoch 5/500
4/4 [==============================] - 0s 114ms/step - loss: 1407274.5000 - mean_squared_error: 1407274.5000 - val_loss: 12038599.0000 - val_mean_squared_error: 12038599.0000
Epoch 6/500
4/4 [==============================] - 0s 113ms/step - loss: 1407216.7500 - mean_squared_error: 1407216.7500 - val_loss: 12038468.0000 - val_mean_squared_error: 12038468.0000
Epoch 7/500
4/4 [==============================] - 0s 113ms/step - loss: 1407194.6250 - mean_squared_error: 1407194.6250 - val_loss: 12038427.0000 - val_mean_squared_error: 12038427.0000
Epoch 8/500
4/4 [==============================] - 0s 118ms/step - loss: 1407187.3750 - mean_squared_error: 1407187.3750 - val_loss: 12038416.0000 - val_mean_squared_error: 12038416.0000
Epoch 9/500
4/4 [==============================] - 0s 117ms/step - loss: 1407185.1250 - mean_squared_error: 1407185.1250 - val_loss: 12038414.0000 - val_mean_squared_error: 12038414.0000
Epoch 10/500
4/4 [==============================] - 0s 117ms/step - loss: 1407184.2500 - mean_squared_error: 1407184.2500 - val_loss: 12038413.0000 - val_mean_squared_error: 12038413.0000
Epoch 11/500
4/4 [==============================] - 0s 119ms/step - loss: 1407184.0000 - mean_squared_error: 1407184.0000 - val_loss: 12038413.0000 - val_mean_squared_error: 12038413.0000
Epoch 12/500
4/4 [==============================] - 0s 113ms/step - loss: 1407183.6250 - mean_squared_error: 1407183.6250 - val_loss: 12038412.0000 - val_mean_squared_error: 12038412.0000
Epoch 13/500
4/4 [==============================] - 0s 117ms/step - loss: 1407183.6250 - mean_squared_error: 1407183.6250 - val_loss: 12038412.0000 - val_mean_squared_error: 12038412.0000
Epoch 14/500
4/4 [==============================] - 0s 114ms/step - loss: 1407183.3750 - mean_squared_error: 1407183.3750 - val_loss: 12038412.0000 - val_mean_squared_error: 12038412.0000
Epoch 15/500
4/4 [==============================] - 0s 116ms/step - loss: 1407183.2500 - mean_squared_error: 1407183.2500 - val_loss: 12038412.0000 - val_mean_squared_error: 12038412.0000
Epoch 16/500
4/4 [==============================] - 0s 120ms/step - loss: 1407183.0000 - mean_squared_error: 1407183.0000 - val_loss: 12038412.0000 - val_mean_squared_error: 12038412.0000
Epoch 17/500
4/4 [==============================] - 0s 121ms/step - loss: 1407182.8750 - mean_squared_error: 1407182.8750 - val_loss: 12038412.0000 - val_mean_squared_error: 12038412.0000
Epoch 18/500
4/4 [==============================] - 0s 121ms/step - loss: 1407182.7500 - mean_squared_error: 1407182.7500 - val_loss: 12038412.0000 - val_mean_squared_error: 12038412.0000
Epoch 19/500
4/4 [==============================] - 1s 127ms/step - loss: 1407183.0000 - mean_squared_error: 1407183.0000 - val_loss: 12038412.0000 - val_mean_squared_error: 12038412.0000

In [155]:
accr = model.evaluate(X_test,y_test)
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(accr[0],accr[1]))

In [159]:
import matplotlib.pyplot as plt

acc = history.history['mean_squared_error']
val_acc = history.history['val_acc']
loss = history.history['loss']
val_loss = history.history['val_loss']

epochs = range(1, len(acc) + 1)

plt.plot(epochs, acc, 'bo', label='Training acc')
plt.plot(epochs, val_acc, 'b', label='Validation acc')
plt.title('Training and validation accuracy')
plt.legend()

plt.figure()

plt.plot(epochs, loss, 'bo', label='Training loss')
plt.plot(epochs, val_loss, 'b', label='Validation loss')
plt.title('Training and validation loss')
plt.legend()

plt.show()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [157]:
train.columns

Index(['id', 'ds_level', 'country_code', 'Total visit', 'browser', 'platform',
       'Total User', '사용자', '세션', '신규방문자', '페이지뷰'],
      dtype='object')

# Test

In [59]:
# new_value_df.isnull().sum()

In [60]:
# new_value_df['ds_level'] = new_value_df['ds_level'].fillna(1)
# new_value_df['country_code'] = new_value_df['country_code'].fillna(1)

In [61]:
# new_value_df

In [62]:
# new_value_df['Total visit'] = new_value_df['Total visit'].fillna(pd.pivot_table(user_df, index='c_time',values=['id'],aggfunc='count')[:46])